{% from "footer.njk" import footer with context %}
{% from "tag.njk" import tag as tagButton %}

{% macro postListItem(post, postPrefix, showAccessories) -%}
 Album
{%- endmacro %}

{% macro albumGroups(renderFooter = true) -%}
  <ol class="album-groups-list" reversed>
  {% for albumGroup in collections.AlbumGroups | reverse %}
    <li class="album-group">
      <h2 class="album-group__title">{{ albumGroup.data.title }}</h2>
      <ol class="album-group__albums-list">
        {% set albumGroup = albumGroup.data.tag %}
        {% for album in collections[albumGroup] | reverse %}
          {% if album.data.permalink %} 
            <li class="album-group__album"><a class="album-group__album__link" href="{{ album.data.permalink }}">{{ album.data.shortTitle if album.data.shortTitle else album.data.title | replace(albumGroup.data.title, '') }}</a>{% if not loop.last %},{% endif %}</li>
          {% endif %}
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
  {% if renderFooter %}<li class="album-groups-list__copyright">{{ footer() }}</li>{% endif %}
  </ol>
{%- endmacro %}
