{% if backlinks.length > 0 %}
  <div class="backlinks">
    <span class="backlinks__title">Backlinks</span>
    <ul class="backlinks__list">
        {% for link in backlinks %}
            <li class="backlink">
                <a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
                <div class="backlink__preview" role="none">
                    {{ link.preview | markdownify | safe }}
                </div>
            </li>
        {% endfor %}
    </ul>
  </div>
{% endif %}
