{#
  proportionateScale = bool / inserts prop.scale classes
  surrogate = entity
  classes = ['', '', ''] / inserts a custom class string to the outer, middle, and inner divs
#}

{% macro caseStudyImage(
  id,
  class,
  caption) 
%}
  <div class="case-study-image-wrapper"{{ ' id=' + id if id }}>
    <div class="case-study-image {{ class }}">
      {{ caller () }}
    </div>
    {% if caption %}
      <p class="case-study-image__caption">{{ caption | safe }}</p>
    {% endif %}
  </div>
{% endmacro %}
