{% macro Footer(el="div", class="page__footer", classModifier="") -%}
  <{{ el }} class="{{ class }}{% if classModifier %} {{ class }}--{{ classModifier }}{% endif %}">
    <span class="copyright__glyph">©</span><span class="copyright__text">2008 - {% year %} {{ meta.name }} <span class="footer__separator">|</span> I love you. Don’t steal. <span class="footer__separator">|</span> <a href="/feed.xml">RSS</a> <span class="footer__separator">|</span> <a href="mailto:{{ meta.contact.email }}">Email</a> <span class="footer__separator">|</span> <a href="https://people.pledge.party" target="blank">The People Pledge</a></span>
  </{{ el }}>
{%- endmacro %}
