{% macro footer() -%}
  <span class="copyright__glyph">©</span><span class="copyright__text">2008 - {% year %} {{ meta.name }}. | I love you. Don’t steal. | <a href="/feed.xml">RSS</a> | <a href="mailto:{{ meta.contact.email }}">Email</a>.</span>
{%- endmacro %}
