{% macro navigation() -%}
  <nav class="navigation">
    <ul class="navigation__items">
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/'}}" href="/"><span>Notes</span></a></li>
      {# <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/prototypes/'}}" href="/prototypes/"><span>Prototypes</span></a></li> #}
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/pens/'}}" href="/pens/"><span>Pens</span></a></li>
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/albums/'}}" href="/albums/"><span>Albums</span></a></li>
    </ul>
  </nav>
{%- endmacro %}

{% macro header() -%}
  <header class="header">
  <div class="header__logo"><a href="/">{% include "../static/img/logo--16.svg" %}</a></div>
  <div class="header__content">
    <h1 class="header__name">{{ meta.name | replace(' ', '&nbsp;') | safe }}</h1>
    <h2 class="header__title">{{ meta.jobTitle | safe }}</h2>
  </div>
    {{ navigation() }}
  </header>
{%- endmacro %}
