{%- from 'img.njk' import img -%}

{% macro macOSAppIcon(path) -%}
  {% set sizes = ['512', '256', '128', '32', '16'] %}
  {% for size in sizes %}
    {% if loop.first %}
      {{-  img(
          src = path + sizes[0] + '@2x',
          class = 'icon--mac icon--' + sizes[0] * 2 + 'px',
          suffix= '?format=webp',
          densities = [1]
      ) -}}
      {{-  img(
          src = path + size,
          class = 'icon--mac icon--' + size+ 'px',
          suffix= '?format=webp',
          densities = [1, 2]
      ) -}} 
    {% elif not loop.first %}
      {{-  img(
            src = path + size,
            class = 'icon--mac icon--' + size + 'px',
            suffix= '?format=webp',
            densities = [1, 2]
      ) -}}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro iOSGrid(
  path = '',
  exclude = [],
  class = '',
  isOldVersion = false
) -%}
  {% if not isOldVersion %}
    {% set sizes = ['512', '60', '40', '29'] %}
    <div class="icon-grid icon-grid--iPhone--modern">
      <h6 class="caption caption--app-icon">Springboard</h6>
      <h6 class="caption caption--spotlight">Spotlight</h6>
      <h6 class="caption caption--settings">Settings</h6>
      {% for size in sizes %}
        {% if loop.first %}
          <div class="icon--512--container">
            <h6 class="caption caption--app-store">App Store</h6>
            {{  img(
                  src = path + size,
                  class = 'icon icon--' + size,
                  densities = [1, 2]
            ) }}
          </div>
        {% elif not loop.first %}
          {{  img(
                src = path + size,
                class = 'icon icon--' + size + ' ' + 'icon--' + '3x',
                densities = [3]
          ) }}
          {{  img(
                src = path + size,
                class = 'icon icon--' + size + ' ' + 'icon--' + '2x',
                densities = [2]
          ) }}
        {% endif %}
      {% endfor %}
    </div>  
  {% elif isOldVersion %}
    {% set sizes = ['512', '72', '57', '29'] %}
    <div class="icon-grid icon-grid--iOS--old">
      <h6 class="caption caption--iPad-app">iPad app</h6>
      <h6 class="caption caption--iPhone-app">iPhone app</h6>
      <h6 class="caption caption--settings">Settings</h6>
      {% for size in sizes %}
        {% if loop.first %}
        <div class="icon--512px--container">
          <h6 class="caption caption--app-store">App Store</h6>
          {{  img(
                src = path + size,
                class = 'icon icon--' + size + 'px',
                densities = [1, 2]
          ) }}
        </div>
        {% elif not loop.first %}
          {{  img(
                src = path + size,
                class = 'icon icon--' + size + 'px ' + 'icon--' + '2x',
                densities = [2]
          ) }}
          {{  img(
                src = path + size,
                class = 'icon icon--' + size + 'px ' + 'icon--' + '1x',
                densities = [1]
          ) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}
