{# 
  img(
    src = '' (path to image, ommitting extension
    ext = '' (png x) | other ext
    densities = [1, 2] (array of densities to include
    class = '' (classname to pass to img tag
    alt = ''
  )
#}

{%- macro img(
  src = '', 
  ext = 'png',
  densities = [1, 2],
  class = '',
  alt = '',
  suffix = ''
) -%}
  {% if densities[0] != 1 %}{% set minDensity = '@' + densities[0] + 'x' %}{% endif %}
  <img
    {% if class %}class="{{ class }}"{% endif %} src="{{ src }}{{ minDensity | replace(' ', '')}}.{{ ext }}{{ suffix }}" 
    srcset="
      {%- for i in densities -%}
        {{ src }}{{ minDensity if loop.first }}{{ '@' + i + 'x' if not loop.first }}.{{ ext }}{{ suffix }} {{ loop.index }}x{{ ', ' if not loop.last }}
      {%- endfor -%}"
    alt="{{ alt }}" 
  />
{%- endmacro -%}
