{% macro navigation() -%}
  <nav class="navigation">
    <ul class="navigation__items">
      <li class="navigation__item navigation__title-container"><h1 class="navigation__title">{{ meta.name | replace(' ', '&nbsp;') | safe }}</h1></li>
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/'}}" href="/"><span>Writing</span></a></li>
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/pens/'}}" href="/Pens/"><span>Design</span></a></li>
      <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if page.url == '/pens/'}}" href="/Photography/"><span>Photography</span></a></li>
    </ul>
  </nav>
{%- endmacro %}
