{% macro Picture(
  class,
  src = '',
  fileName = '',
  alt = '',
  imageProps,
  loading = 'lazy'
) %}
  <picture class="picture--{{ imageProps.orientation }}" style="--ratio: {{ imageProps.ratio }}; --color: {{ imageProps. color }}">
    <source
      sizes="
        (max-width: 640px) 640px, 
        (max-width: 960px) 960px, 
        (max-width: 1200px) 1200px, 
        (min-width: 1201px) 1800px
      "
      srcset="
        {{ src }}?width=2400px&format=webp, 
        {{ src }}?width=1100px&format=webp 960w, 
        {{ src }}?width=1400px&format=webp 1200w, 
        {{ src }}?width=2000px&format=webp 1800w
      "
    >
    <img 
      class="progressiveImg"
      src="{{ src }}?width=1400&format=webp" 
      width="{{ imageProps.width }}" 
      height="{{ imageProps.height }}"
      alt="{% if title %}{{ title }}{% else %}{{ fileName }}{% endif %}"
      loading="{{ loading }}"
    />
    <div class="blurUp"></div>
  </picture>
{% endmacro %}

