<script>
{% macro _progLoadImg() %}
  // fades images in and blur out onload 
  const progressiveImages = document.getElementsByClassName('progressiveImg');
  if (progressiveImages) {
    for (const img of progressiveImages) {
      if (img.complete) {
        img.classList.add('imgLoaded');
      } else {
        img.addEventListener('load', function() {
          img.classList.add('imgLoaded');
        });
      }
    }
  }
{% endmacro %}
</script>
{# script tags are for syntax val #}

{% macro Picture(
  class,
  src = '',
  fileName = '',
  alt = '',
  imageProps,
  loading = 'lazy',
  isWNCDN = false,
  customSRCSet,
  args
) %}
  {% if not imageProps %}{% set imageProps = collections.photos[src].fileInfo %}{% endif %}
  {% js "defer" %}
    {{ _progLoadImg() }}
  {% endjs %}
  {%- set sizes -%}
    {%- if args.width -%}
      (max-width: {{ args.width }}px) {{ args.width }}px, 
      (max-width: {{ args.width * 2}}px) {{ args.width * 2}}px, 
      (max-width: {{ args.width * 3}}px) {{ args.width * 3}}px, 
    {%- else -%}
      {%- if isWNCDN -%}
        (max-width: 640px) 640px, 
        (max-width: 960px) 960px, 
        (max-width: 1200px) 1200px, 
        (min-width: 1201px) 1800px
      {%- else -%}
        (max-width: 1024px) 1024px, 
        (max-width: 2048px) 2048px, 
        (max-width: 2049px) 3072px
      {%- endif -%}
    {%- endif -%}
  {%- endset -%}
  {%- set srcset -%}
    {%- if args.width -%}
      {{ src }}?width={{ args.width * 3}}px&format=webp 3x, 
      {{ src }}?width={{ args.width * 2}}px&format=webp 2x, 
      {{ src }}?width={{ args.width * 1}}px&format=webp 1x
    {%- else -%}
      {%- if isWNCDN -%}
        {{ src }}?width=2400px&format=webp, 
        {{ src }}?width=1100px&format=webp 960w, 
        {{ src }}?width=1400px&format=webp 1200w, 
        {{ src }}?width=2000px&format=webp 1800w
      {%- else -%}
        {{ customSRCSet | safe }}
      {%- endif -%}
    {%- endif -%}
  {%- endset -%}
  {%- set src -%}
    {% if isWNCDN %}{{ src | replace(" ", "") }}?width={{ args.width if args.width else '1400' }}&format=webp{% else %}{{ src | safe }}{% endif %}
  {%- endset -%}
  <picture class="picture--{{ imageProps.orientation }}" style="--ratio: {{ imageProps.ratio }}; --color: {{ imageProps.color }}">
    <source
      sizes="{{ sizes }}"
      srcset="{{ srcset }}"
    >
    <img 
      class="progressiveImg {{ class }}"
      src="{{ src | replace(" ", "") }}" 
      width="{{ imageProps.width }}" 
      height="{{ imageProps.height }}"
      alt="{% if title %}{{ title }}{% else %}{{ fileName }}{% endif %}"
      loading="{{ loading }}"
    />
    <div class="blurUp"></div>
  </picture>
{% endmacro %}

