{% from "../_includes/note.njk" import noteListItem with context %}

{% macro postList(collection) -%}
  {% set currentDay = "" %}
  {% set currentMonth = "" %}
  {% set currentYear = "" %}
  {% for post in collection | reverse %}
    {% set postDay = post.date | postDay %}
    {% set postMonth = post.data.month %}
    {% set postYear = post.data.year %}
    {% set postPrefix %}{% if (currentDay == postDay) and (currentMonth == postMonth) %}↳{% else %}{{ postDay }}{% endif %}{% endset %}
    {% set showAccessories %}{% for tag in post.data.tags %}{{ true if ("Type/" in tag) and not ("Type/Note" in tag)}}{% endfor %}{% endset %}
    {% if currentMonth != postMonth %}
      <li class="note-group__month">{% if currentYear != postYear %}<h2 class="note__year">{{ postYear }}</h2>{% endif %}<h3 class="note__month">{{ postMonth }}</h3></li>
    {% endif %}
    <li class="note">
      {{ noteListItem(post, postPrefix) }}
    </li>
    {% set currentDay = postDay %}
    {% set currentMonth = postMonth %}
    {% set currentYear = postYear %}
  {% endfor %}
{%- endmacro %}
