{% from "../_includes/note.njk" import noteListItem with context %}

{% macro postList(collection) -%}
  {% set currentDay = "" %}
  {% set currentMonth = "" %}
  {% set currentYear = "" %}
  {% for post in collection | reverse %}
    {% set postDay = post.date | postDay %}
    {% set postMonth = post.data.month %}
    {% set postYear = post.data.year %}
    {% set postPrefix %}{% if (currentDay == postDay) and (currentMonth == postMonth) %}↳{% else %}{{ postDay }}{% endif %}{% endset %}
    {% set showAccessories %}{% for tag in post.data.tags %}{{ true if ("Type/" in tag) and not ("Type/Note" in tag)}}{% endfor %}{% endset %}
    {% if currentMonth != postMonth %}
      {% if loop.index > 1 %}</ol></li>{% endif %}
      <li class="posts-month">
        <h2 class="note__month-and-year"><span class="note__month">{{ postMonth }}</span>{% if currentYear != postYear %} <span class="note__year">{{ postYear }}</span>{% endif %}</h2>
        <ol class="posts">
    {% endif %}
    <li class="note">
      {{ noteListItem(post, postPrefix, showAccessories) }}
    </li>
    {% set currentDay = postDay %}
    {% set currentMonth = postMonth %}
    {% set currentYear = postYear %}
  {% endfor %}
{%- endmacro %}
