{% from "footer.njk" import Footer with context %}
{% from "tag.njk" import tag as tagButton %}

{% macro postListItem(post, postPrefix, showAccessories) -%}
{% set printedTitle %}{{ post.data.altTitle if post.data.altTitle else post.data.title }}{% endset %}
  {% if (post.data.dest) and not (post.content) %}{% set isSimpleLink = true %}{% endif %}
  {% set url %}{% if isSimpleLink %}{{ post.data.dest }}{% else %}{{ post.url }}{% endif %}{% endset %}
  <a href="{{ url }}" class="post__link"{{ ' target="blank"' if isSimpleLink }}>
    {% if post.data.preview %}
      <div class="post__preview">
        {% if post.data.preview.type == 'vid' %}
          {% set assetRoot %}{{ remote.gallery.base }}/{{ remote.gallery.video }}/{{ post.data.preview.dir }}/{% endset %}
          <video 
            width="400" 
            poster="/assets/img/poster.gif" 
            class="post__preview__poster {{ post.data.preview.class }}"
            style="
              {% if post.data.preview.class == 'themed-3x' %}
                --darkPoster3x: url({{ assetRoot }}{{ post.data.preview.assets[0].poster }});
                --lightPoster3x: url({{ assetRoot }}{{ post.data.preview.assets[1].poster }});
                --darkPoster2x: url({{ assetRoot }}{{ post.data.preview.assets[2].poster }});
                --lightPoster2x: url({{ assetRoot }}{{ post.data.preview.assets[3].poster }});
                --darkPoster: url({{ assetRoot }}{{ post.data.preview.assets[4].poster }});
                --lightPoster: url({{ assetRoot }}{{ post.data.preview.assets[5].poster }});
              {% endif %}"
            autoplay 
            loop 
            muted 
            playsinline
            >
            {% for asset in post.data.preview.assets %}
              <source media="{{ asset.media }}" src="{{ assetRoot }}{{ asset.source }}" type="video/mp4">
            {% endfor %}
          </video>
        {% elif post.data.preview.type == 'svg' %}
          {% set assetRoot %}{{ remote.gallery.base }}/{{ remote.gallery.video }}/{{ post.data.preview.dir }}/{% endset %}
          <div class="post__preview__poster {{ post.data.preview.class }}">{% include "../static/embeds/dynamic-type/preview.svg" %}</div>
        {% endif %}
      </div>
    {% endif %}
    <span class="post__day">{{ postPrefix }}</span>
    <span class="post__title">{{ printedTitle | markdownify | replace("<p>", "") | replace("</p>", "") | safe }}</span>
    {% if not ("Type/Pen" in post.data.tags) %}
      <ul class="post__accessories">
        {% for tag in post.data.tags %}{% if ("Type/" in tag) and not ("Type/Note" in tag) %}<li>{{ tagButton(tag) }}</li>{% endif %}{% endfor %}
      </ul>
      <div class="post__direction">{% if post.content %}{% include "../static/img/arrow-right--16.svg" %}{% else %}{% include "../static/img/arrow-up-right--16.svg" %}{% endif %}</div>
    {% endif %}
    
    {%- if post.data.summary -%}
      <div class="post__summary">
        <span class="post__day">{{ postPrefix }}</span>
        {% set firstChar = post.data.summary.slice(0, 1) %}
        <span class="post__summary__text {{ " post__summary__text--blockquote" if (firstChar == "“") }}">{{ post.data.summary }}</span>
      </div>
    {%- endif -%}
  </a>
{%- endmacro %}

{% macro postList(collection, renderFooter = false) -%}
  <ol class="posts-list" reversed>
    {% set currentDay = "" %}
    {% set currentMonth = "" %}
    {% set currentYear = "" %}
    {% for post in collection | reverse %}
      {% set postDay = post.date | postDay %}
      {% set postMonth = post.data.month %}
      {% set postYear = post.data.year %}
      {% set postPrefix %}{% if (currentDay == postDay) and (currentMonth == postMonth) %}↳{% else %}{{ postDay }}{% endif %}{% endset %}
      {% if currentMonth != postMonth %}
        {% if loop.index > 1 %}</ol></li>{% endif %}
        <li class="posts-month">
          <h2 class="post__month-and-year"><span class="post__month">{{ postMonth }}</span>{% if currentYear != postYear %} <span class="post__year">{{ postYear }}</span>{% endif %}</h2>
          <ol class="posts">
      {% endif %}
      <li class="note">
        {{ postListItem(post, postPrefix, showAccessories) }}
      </li>
      {% set currentDay = postDay %}
      {% set currentMonth = postMonth %}
      {% set currentYear = postYear %}
    {% endfor %}
    {% if renderFooter %}{{ Footer(el="li", classModifier="grid") }}{% endif %}
</ol>
{%- endmacro %}
