{% from "footer.njk" import Footer with context %}
{% from "tag.njk" import tag as tagButton %}

<script>
{% macro _scaleScript() %}
  function scaleElement(el) {
    const elWidth = el.offsetWidth;
    const wrapper = el.parentElement;
    const container = wrapper.parentElement;
    const wrapperWidth = wrapper.clientWidth;
    const wrapperHeight = wrapper.clientHeight;
  
    wrapper.classList.add('proportionate-scale-wrapper');
    container.classList.add('proportionate-scale-container');
    container.style.setProperty('--wrapperWidth', wrapperWidth + 'px');
    container.style.setProperty('--elWidth', elWidth + 'px');
    // only set height once; otherwise it's recursive
    if (!isOnResize) {
      container.style.setProperty('--wrapperHeight', wrapperHeight + 'px');
    }
  }
  
  function proportionateScale(isOnResize = false) {
    const elements = document.querySelectorAll('.proportionate-scale');
    elements.forEach(scaleElement);
  }
  
  function handleDomReady() {
    proportionateScale(isOnResize = false);
    window.addEventListener('resize', function(event) {
      proportionateScale(isOnResize = true);
    });
  }
  
  document.addEventListener('DOMContentLoaded', handleDomReady);
{% endmacro %}
</script>

{% macro proportionateScale() -%}
  <div class="proportionate-scale">
    {{ caller () }}
  </div>
  {% js "defer" %}
    {{ _scaleScript() }}
  {% endjs %}
{%- endmacro %}
