{% macro RevisionList(el = 'div', revisions) -%}
  {% if revisions %}
    <{{ el }} class="revisions" id="revisions">
      <dl class="revisions-list">
        {% for revision in revisions %}
          <dd class="revision__date">{{ revision.date | readableDateISO }}</dd><dl class="revision__message">{{ revision.content | safe }}</dl>
        {% endfor %}
      </dl>
    </{{ el }}>
  {% endif %}
{% endmacro %}
