{% from "footer.njk" import Footer with context %}
{% from "picture.njk" import Picture with context %}
{% from "tag.njk" import tag as tagButton %}

{% macro shot(post) -%}
  {{ post.content | safe }}
{%- endmacro %}

{% macro endProject() -%}
  </ol></div></li>
{%- endmacro %}

{% macro projectMeta(postInfo, learnMoreLink) -%}
  <li class="project">
    <div class="project__meta">
      <h2 class="project__title"><span class="project__name">{{ postInfo.project }}</span></h2>{{tagButton(postInfo.client)}}
    </div>
    <div class="shots-container">
      <ol class="shots">
{%- endmacro %}

{% macro shotList(collection) -%}
  <ol class="project-list" reversed>
    {% set drafts = collections.Drafts | draftsOf(collection) %}
    {% set info = {} %}
    {% asyncEach post in collection | reverse %}
      {% set postInfo = {
        project: post.data.tags | getNestedTag("Design"),
        client: post.data.tags | getNestedTag("Client")
      } %}
      {% if info.project != postInfo.project %}
        {# closes the loop for most shots #}
        {% if (loop.index > 1 ) %}{{ endProject() }}{% endif %}
        {{ projectMeta(postInfo, false)}}
      {% endif %}
      <li class="shot" style="--view-transition-name: post-title--{{ post.fileSlug | slugify }}">
        {{ shot(post) }}
      </li>
      {% if loop.index == loop.length %}{{ endProject() }}{% endif %}
      {% set info = postInfo %}
    {% endeach %}
  </ol>
{%- endmacro %}
