<div class="note-title">
  {% set title %}{{ altTitle if altTitle }}{{ page.fileSlug if not altTitle }}{% endset %}
  {% if updated %}{% set updatedDate %}{{ updated | readableDate }}{% endset %}{% endif %}
  <h1>{{ title | safe }}</h1>
  <span class="subtitle">Published {{ publishedDate }}.{% if updated and (publishedDate !== updatedDate) %} Updated {{ updatedDate }}.{% endif %}</span>
</div>
