@use 'sass:list';
@use 'sass:math';
@use '../tokens';

@mixin share($props.../*, $value */) {
  @for $i from 1 to list.length($props) {
    #{list.nth($props, $i)}: list.nth($props, -1);
  }
}

@mixin mask($mask) {
  $maskParam: url($mask);
  @include share(mask-image, -webkit-mask-image, $maskParam);
  @include share(mask-position, -webkit-mask-position, center center);
  @include share(mask-repeat, -webkit-mask-repeat, no-repeat);
  @include share(mask-size, -webkit-mask-size, contain);      
}

// redundant, but helps with readability
@mixin x1 {
  @media
    only screen and (min-pixel-ratio: 1),
    only screen and (min-device-pixel-ratio: 1),
    only screen and (min-device-pixel-ratio: 1),
    only screen and (min-resolution: 196dpi),
    only screen and (min-resolution: 1dppx) { 
    @content;
  }
}

@mixin x2 {
  @media
    only screen and (min-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) { 
    @content;
  }
}

@mixin x3 {
  @media
    only screen and (min-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3/1),
    only screen and (min-device-pixel-ratio: 3),
    only screen and (min-resolution: 288dpi),
    only screen and (min-resolution: 3dppx) { 
    @content;
  }
}

.icon {
  aspect-ratio: 1;
  display: block;
  min-width: var(--width);
  transform-origin: top left;
}

$macIcons2x: 512, 256, 128, 32, 16;
$macIcons1x: 1024, 512, 256, 128, 32, 16;


.icons-grid--macOS-max-512 {
  display: grid;
  // width: fit-content;
  width: calc(100dvw - 2 * var(--col));
  // margin: 0 var(--col);
  max-width: fit-content;
  gap: var(--u32);
  padding: var(--u32);
  box-shadow: inset 0 0 0 var(--px) var(--edgeColor);
  @mixin x1Grid {
    grid-template-columns: 
    auto 
    #{list.nth($macIcons1x, 2) + px} 
    #{list.nth($macIcons1x, 4) + px} 
    auto 
    auto;
    grid-template-rows: 
    #{list.nth($macIcons1x, 1) + px} 
    #{list.nth($macIcons1x, 3) + px}  
    #{list.nth($macIcons1x, 4) + px} 
    auto 
    auto;
    .icon--1024 {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }
    .icon--512 {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
    }
    .icon--256 {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
    }
    .icon--128 {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }
    .icon--32 {
      grid-row: 3 / 4;
      grid-column: 4 / 5;
    }
    .icon--16 {
      margin-top: calc(#{list.nth($macIcons2x, 4) + px} + var(--u32));
      grid-row: 3 / 4;
      grid-column: 4 / 5;
    }
  }
  @mixin x2GridLandscape {
    grid-template-columns: 
      min(
        calc(#{list.nth($macIcons1x, 1) + px} / var(--density)),
        auto)
      calc(#{list.nth($macIcons1x, 3) + px} / var(--density)) ;
    grid-template-rows: 
      calc(#{list.nth($macIcons1x, 2) + px} / var(--density))
      auto;
    .icon--1024 {
      display: none;
    }
    .icon--512 {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      --width: min(100%, #{list.nth($macIcons1x, 2) + px}) !important;
    }
    .icon--256 {
      grid-row: 1 / 2;
      grid-column: 2 / 4;
    }
    .icon--128 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    .icon--32 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      margin-left: calc(#{list.nth($macIcons2x, 3) + px} + var(--u32));
    }
    .icon--16 {
      margin-top: calc(#{list.nth($macIcons2x, 4) + px} + var(--u32));
      margin-left: calc(#{list.nth($macIcons2x, 3) + px} + var(--u32));
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }
  @mixin x2GridPortrait {
    grid-template-columns: 
      auto 
      calc(#{list.nth($macIcons1x, 2) + px} / var(--density))
      calc(#{list.nth($macIcons1x, 3) + px} / var(--density))
      auto;
    grid-template-rows: 
      calc(#{list.nth($macIcons1x, 1) + px} / var(--density))
      calc(#{list.nth($macIcons1x, 3) + px} / var(--density))
      auto;
    .icon--1024 {
      display: none;
    }
    .icon--512 {
      grid-row: 1 / 2;
      grid-column: 1 / 5;
    }
    .icon--256 {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
    }
    .icon--128 {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }
    .icon--32 {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      margin-left: 0;
    }
    .icon--16 {
      margin-top: 0;
      margin-left: calc(#{list.nth($macIcons2x, 4) + px} + var(--u32));
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }
  }
  @include x1Grid;
  // magic number @ which point 512px set to auto is equal to the sum of the 256px icon 32px gap and 128px icon
  @media (orientation: landscape) {
    @include x2 {
      @include x2GridLandscape;
    }
  }
  @media (orientation: portrait) {
    @include x2 {
      @include x2GridPortrait;
    }
  }
}

@each $macIcon in $macIcons1x {
  .icon--mac.icon--#{$macIcon} {
    --width: #{$macIcon + px};
    width: var(--width);
    @include x3 {
      width: calc(var(--width) * 2/3);
      max-width: 100%;
      aspect-ratio: 1;
    }
  }
}

.icon-container--high-res {
  display: grid;
  place-content: center;
  padding: var(--u32);
}

.icon-container--macOS--smaller {
  display: grid;
  grid-template-rows: 256px 32px auto;
  grid-template-columns: 128px auto;
  gap: 16px;
  justify-content: center;
  padding: var(--u32);
  @include x3 {
    grid-template-rows: calc(256px * 2/3) calc(32px * 2/3) auto;
    grid-template-columns: calc(128px * 2/3) auto;
  }
  .icon--256 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    
  }
  .icon--128 {
    grid-row: 2 / 4;
  }
  .icon--32 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .icon--16 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
}

.case-study__toolbar-icons {
  display: flex;
  gap: var(--u32);
  .case-study-image--icons__icon {
    display: grid;
    flex-direction: column;
    gap: var(--u16);
    grid-template-rows: calc(64px / var(--density)) calc(32px / var(--density));
  }  
}

.icon--32--2x {
  width: calc(64px / var(--density));
}

.icon--32 {
  width: calc(32px / var(--density));
}

.utils--density--only-1x {
  @include x1 {
    display: inherit;
  }
  @include x2 {
    display: none;
  }
  @include x3 {
    display: none;
  }
}

.utils--density--not-1x {
  @include x1 {
    display: none;
  }
  @include x2 {
    display: inherit;
  }
  @include x3 {
    display: inherit;
  }
}

.utils--density--only-2x {
  @include x1 {
    display: none;
  }
  @include x2 {
    display: inherit;
  }
  @include x3 {
    display: none;
  }
}

.utils--density--not-2x {
  @include x1 {
    display: inherit;
  }
  @include x2 {
    display: none;
  }
  @include x3 {
    display: inherit;
  }
}

.utils--density--only-3x {
  @include x1 {
    display: none;
  }
  @include x2 {
    display: none;
  }
  @include x3 {
    display: inherit;
  }
}

.utils--density--not-3x {
  @include x1 {
    display: inherit;
  }
  @include x2 {
    display: inherit;
  }
  @include x3 {
    display: none;
  }
}