@use '../tokens';

.back-to-index {
  & {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
  }
  @media (width <= tokens.$breakpoint) {
    display: none;
  }
}
