@use '../tokens';

.proportionate-scale--surrogate {
  display: grid;
  place-content: center;
}
.case-study-hero {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto calc(var(--col)/2) auto;
  aspect-ratio: 16/9;
  border-radius: .6rem;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.case-study-hero--diligence {
  background-image: url('../img/DSCF2387.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  .window {
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .screen,
  .window {
    grid-area: 1 / 1;
  }
  .screen {
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
    height: 800px;
    width: 1280px;
    background-size: cover;
    z-index: 0;
    // TODO: replace w/ CDN asset
    background-image: url('../img/DSCF2387.jpg');
  }
  .screen-window {
    grid-area: 1 / 1;
    margin: auto;
    &--calendar {
      transform: translate(-880px, 256px);
    }
    &--contacts {
      transform: translate(800px, -64px);
    }
    &--game-center {
      display: none;
    }
    &--notes {
      transform: translate(-640px, -128px);
      z-index: -1;
    }
    &--reminders {
      transform: translate(544px, 256px);
    }
  }
}
