@use '../tokens';

.footnote-ref {
  font-size: var(--type--2);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup.footnote-ref {
  top: -0.75em;
}

sub.footnote-ref {
  bottom: -0.75em;
}

%topBorder {
  padding-top: tokens.$gapSmall;
  border-top: 1px solid var(--edgeColor);
}

.footnotes {
  font-size: var(--type--2);
  margin-top: 2rem;
  @extend %topBorder;
}

:has(> .footnotes) + .page__footer {
  @extend %topBorder;
}

.footnotes-list {
  display: grid;
  grid-template-columns: min-content auto;
  flex-direction: column;
  row-gap: tokens.$gapSmall;
  column-gap: tokens.$gapSmall;
  counter-reset: footnote;
  list-style: none;
  list-style-type: none;
}

.footnote-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.footnote-item p, .footnote-item::before {
  line-height: calc(1.2 * var(--type-0));
}


.footnote-item p {
  vertical-align: middle;
  text-align: left;
  margin: 0;

}

.footnote-item a {
  text-decoration-thickness: 1px;
}

.footnote-item::before {
  color: var(--contentSecondaryColor);
  counter-increment: footnote;
  content: counter(footnote) ". ";
  text-align: right;
}
