@use '../tokens';

.page__footer {
  & {
    display: flex;
    gap: 5px;
    margin: 2rem auto 0 auto;
    max-width: tokens.$width;
  }
  .copyright__glyph {
    color: var(--contentTertiaryColor);
    text-align: right;
  }
  .copyright__text {
    color: var(--contentSecondaryColor);
  }
  .copyright__glyph, .copyright__text {
    font-size: var(--type--2);
  }
  a {
    text-decoration-thickness: unset;
    text-underline-offset: unset;
  }
  .footer__separator {
    user-select: none;
    -webkit-user-select: none;
    color: var(--contentQuaternaryColor);
  }
}
