@use 'sass:math';
@use '../tokens';
@use '../components/footnotes';
@use '../components/ingredients';

$tableGap: 10px;

@include tokens.headingStyles;

.related-posts {
  max-width: tokens.$width;
  margin: 1.5em auto 1.5em auto;
  @extend %topBorder;
  @extend %bottomBorder;
}

.related-posts__title {
  @extend %heading--6;
  display: block;
}

%page-info__grid {
  display: inline-flex;
  gap: $tableGap; // it's like two spaces
  // set font size here despite never using as font-size to avoid extensive calc statements, and instead  em
  font-size: var(--type-0);
  padding: .375em 0; // aligns the first baseline
  @media (width <= tokens.$breakpoint) {
    & { 
      padding: 0;
    }
  }
}

.page-info__column {
  display: flex;
  flex-direction: column;
  font-size: var(--type--2);
  gap: 1.2em;
  margin-top: 1.2em;
  .page-info__entry {
    // 10px gap
    margin-left: -10px;    
  }
  .page-info__entry__key {
    display: flex;
    justify-content: end;
    width: tokens.$gapMediumFixed;
  }
}

.page-info__list {
  & {
    // @extend %page-info__grid;
    display: flex;
    flex-direction: row;
    column-gap: $tableGap * 2;
    font-size: var(--type-0);
    flex-wrap: wrap;
  }
}

.page-info__entry__key {
  & {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--type-0);
    // width: var(--type-0);
    color: var(--contentTertiaryColor);
  }
}

.page-info__entry__value {
  color: var(--contentSecondaryColor);
}

%page-info__entry-style {
  & {
    padding: 0;
    font-size: var(--type--2);
    line-height: max(18px, var(--type-0));
    min-height: var(--type-0);
    // overflow: hidden;
  }
  a {
    text-decoration-thickness: unset;
    text-underline-offset: unset;
  }
}

.page-info__entry--back-link,
.copy-url__button {
  @extend %page-info__grid;
  @extend %page-info__entry-style;
  & {
    // 12px icon + 10px gap
    transform: translateX(-12px - $tableGap);
    text-decoration-color: var(--linkColor);
  }
  * {
    color: var(--linkColor);
  }
  *[class*='toggle__b'], *[class*='toggle__b'] path {
    color: var(--contentPositiveColor);
  }
  .page-info__entry__value--clickable {
    text-decoration: underline;
  }
}

svg path[stroke-width] {
  fill: none !important;
  stroke: currentColor;
}

$blur: 2px;
@keyframes swipe-in {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur($blur);
    opacity: 0;
  }
}

@keyframes swipe-out {
  0% {
    filter: blur($blur);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.copy-url__button {
  $dur: .3s;
  $IconA: '.page-info__toggle__a:not(.animated-letters)';
  $IconB: '.page-info__toggle__b:not(.animated-letters)';
  $LettersA: '.page-info__toggle__a.animated-letters span';
  $LettersB: '.page-info__toggle__b.animated-letters span';
  $GroupA: $IconA, $LettersA;
  $GroupB: $IconB, $LettersB;
  
  #{$GroupA, $GroupB} {
    animation-duration: $dur;
    animation-timing-function: ease-out;
    will-change: filter, opacity;
  }

  #{$GroupA} { 
    opacity: 1; 
  }

  #{$GroupB} { 
    opacity: 0;
    color: var(--contentPositiveColor); 
  }
  
  @mixin swipe-transition($first-icon, $first-letters, $first-anim, $first-opacity,
                          $second-icon, $second-letters, $second-anim, $second-opacity) {
    #{$first-icon, $first-letters}   { 
      animation-name: $first-anim;  
      animation-fill-mode: forwards; 
      opacity: $first-opacity; 
    }

    #{$second-icon, $second-letters} { 
      animation-name: $second-anim; 
      animation-fill-mode: forwards; 
      opacity: $second-opacity; 
    }

    #{$first-icon}  { 
      animation-delay: 0s; 
    }

    #{$second-icon} { 
      animation-delay: $dur; 
    }

    @for $i from 1 through 20 {

      #{$first-letters}:nth-of-type(#{$i})  { 
        animation-delay: math.div($dur, 10) * $i; 
      }

      #{$second-letters}:nth-of-type(#{$i}) { 
        animation-delay: math.div($dur, 10) * $i + $dur; 
      }
    }
  }
  
  &.copy-url__button--success--in {
    @include swipe-transition($IconA, $LettersA, swipe-in, 1, $IconB, $LettersB, swipe-out, 0);
  }

  &.copy-url__button--success--out {
    @include swipe-transition($IconB, $LettersB, swipe-in, 1, $IconA, $LettersA, swipe-out, 0);
  }
}

.page-info__entry {
  display: inline-flex;
  gap: $tableGap;
  @extend %page-info__entry-style;
}

.page-info__entry__value p {
  display: inline;
}

.page-info__entry__value a {
  color: inherit;
}

.page-info__toggle {
  position: relative;
  .page-info__toggle__a {
    // opacity: 1;
  }
  .page-info__toggle__b {
    // opacity: 0;
  }
  .copy-url__button--success & .page-info__toggle__a {
    // opacity: 0;
  }
  .copy-url__button--success & .page-info__toggle__b {
    // opacity: 1;
  }
}

.page-info__toggle__b {
  position: absolute;
  inset: 0;
  text-align: left;
  white-space: nowrap;
}

.page-info__toggle {
  
}

.sub-list__item {
  & {
    width: min-content;
  }
  @media (width <= tokens.$breakpoint) {
    display: inline;
    width: auto;
  }
}
