@use 'sass:math';
@use '../tokens';
@use '../abstractions/hover-blur';

@include tokens.textStyles;
@include tokens.headingStyles;


.post__month {
  white-space-collapse: break-spaces;
}

.post__month, .post__year {
  // @extend %heading--6;
  font-size: var(--type--1);
  @extend %font--display-medium;
}

.post__month {
  color: var(--contentPrimaryColor);
}

.post__year, .post__day {
  color: var(--contentSecondaryColor);
}

.post__Accessories {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  min-height: 1.2em;
  line-height: 1.2em;
  align-items: center;
  > li {
    display: contents;
  }
}

.post__type {
  $r: 4px;
  $p: 3px 5px;
  position: relative;
  display: inline-flex;
  justify-self: flex-end;
  // height: 16px;
  line-height: 100%;
  border-radius: $r;
  background-color: var(--tagBackgroundColor);
  color: var(--tagContentColor);
  box-shadow: inset 0 0 0 var(--px) var(--tagBorderColor);
  font-size: 8pt;
  padding: $p;
  letter-spacing: 1px;
  text-transform: uppercase;
  @extend %font--display-medium; 
  gap: 5px;
  overflow: clip;
  user-select: none;
  -webkit-user-select: none;
  &--evergreen {
    background-color: var(--evergreenBackgroundColor);
    color: var(--evergreenContentcolor);
    box-shadow: inset 0 0 0 var(--px) var(--evergreenBorderColor);
    &[data-version]::after {
      content: attr(data-version);
      padding: $p;
      margin: -3px -5px -3px -2px;
      background-color: var(--evergreenVersionBackgroundColor);
      color: var(--evergreenVersionContentColor);
      box-shadow: inset 0 0 0 var(--px) var(--evergreenVersionBorderColor);
      border-radius: 0 $r $r 0;
    }
  }
}

.posts-list .note {
  // necessary for subgrid
  display: contents;
}

.post__link {
  grid-column: 1 / -1;
}

.post__link {
  display: grid;
  grid-template-columns: subgrid;
  text-decoration: none;
  align-items: flex-start;
  color: var(--contentPrimaryColor);
  position: relative;
  row-gap: 2px; // this is a const because it looks better
  @extend %listItemBackground;
  // give more space for title if no accessories
  .post__title {
    grid-column: 2 / 4;
  }  
  &--with-accessories .post__title {
    grid-column: 2 / 3;
  }
  // prevents flickering with animated pseudo element
  .post__day, .post__title {
    z-index: 1;
  }
  .post__day, .post__title, .post__Accessories  {
    transition: tokens.$x transform ease-out, tokens.$x background-color ease-out;
  }
  &:hover {
    @extend %listItemBackgroundHover;
    $d: .25ex;
    .post__day, .post__title {
      transform: translateX($d);
    }
    .post__Accessories {
      transform: translateX(-$d);
    }
    .post__day, .post__title, .post__Accessories {
      transition-duration: math.div(tokens.$x, 4); 
    }
  }
  &:active {
    @extend %listItemBackgroundActive;
  }
}

.post__preview {
  display: flex;
  grid-column: 1 / -1;
  z-index: 1;
  position: relative;
  margin: 2px 0 6px 0; // this offsets the hover effects asymmetrical offsets
  border-radius: 4px;
  box-shadow: 
    0px 6px 12px 1px transparent, 
    0px 1.8px 3.6px 1px transparent, 
    0px 0.76px 1.52px 1px transparent, 
    0px 0.28px 0.56px 1px transparent;
  transition: tokens.$x box-shadow ease-out;
  
  > * {
    aspect-ratio: 4 / 3;
    border-radius: 4px;
    // apply to the child to avoid clipping on subpixels
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 4px;
    $s: 0 0 0 var(--px) var(--edgeColor);
    box-shadow: inset $s;
    opacity: 1;
    transition: tokens.$x opacity ease-out;
  }
  .post__link:hover & {
    box-shadow: 
      0px 6px 12px 1px rgba(0, 0, 0, calc(0.05 * var(--shadowMultiplier, 1))), 
      0px 1.8px 3.6px 1px rgba(0, 0, 0, calc(0.03 * var(--shadowMultiplier, 1))), 
      0px 0.76px 1.52px 1px rgba(0, 0, 0, calc(0.025 * var(--shadowMultiplier, 1))), 
      0px 0.28px 0.56px 1px rgba(0, 0, 0, calc(0.017 * var(--shadowMultiplier, 1)));
    transition-duration: math.div(tokens.$x, 4);
    &::before {
      transition-duration: inherit;
      opacity: 0;
    }
  }
}

.post__preview__poster {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-color: var(--materialPrimaryColor);
  &.themed-3x {
    background-image: var(--lightPoster);
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: var(--lightPoster2x);
    }
    @media (-webkit-min-device-pixel-ratio: 3) {
      background-image: var(--lightPoster3x);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--darkPoster);
      @media (-webkit-min-device-pixel-ratio: 2) {
        background-image: var(--darkPoster2x);
      }
      @media (-webkit-min-device-pixel-ratio: 3) {
        background-image: var(--darkPoster3x);
      }
    }
  }
}

.post__day {
  font-variant-numeric: tabular-nums;
  text-decoration: none;
  text-align: right;
  &--hidden {
    visibility: hidden; 
  }
}

.post__title {
  padding: 0 tokens.$note-title-gap 0 0;
}
