@use '../tokens';
@use '../components/footnotes';
@use '../components/ingredients';

$tableGap: 10px;

@include tokens.headingStyles;

.related-posts {
  max-width: tokens.$width;
  margin: 1.5em auto 1.5em auto;
  @extend %topBorder;
  @extend %bottomBorder;
}

.related-posts__title {
  @extend %heading--6;
  display: block;
}

%page-info__grid {
  display: inline-flex;
  gap: $tableGap; // it's like two spaces
  // set font size here despite never using as font-size to avoid extensive calc statements, and instead  em
  font-size: var(--type-0);
  padding: .375em 0; // aligns the first baseline
  @media (width <= tokens.$breakpoint) {
    & { 
      padding: 0;
    }
  }
}

.page-info__column {
  display: flex;
  flex-direction: column;
  font-size: var(--type--2);
  gap: 1.2em;
  margin-top: 1.2em;
  .page-info__entry {
    // 10px gap
    margin-left: -10px;    
  }
  .page-info__entry__key {
    display: flex;
    justify-content: end;
    width: tokens.$gapMediumFixed;
  }
}

.page-info__list {
  & {
    // @extend %page-info__grid;
    display: flex;
    flex-direction: row;
    font-size: var(--type--2);
    column-gap: $tableGap * 2;
    font-size: var(--type-0);
    row-gap: .5em;
    flex-wrap: true;
  }
  @media (width <= tokens.$breakpoint) { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.page-info__entry__key {
  & {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--type-0);
    // width: var(--type-0);
    color: var(--contentTertiaryColor);
  }
}

.page-info__entry__value {
  color: var(--contentSecondaryColor);
}

%page-info__entry-style {
  & {
    padding: 0;
    font-size: inherit;
    font-size: var(--type--2);
    line-height: var(--type-0);
    min-height: var(--type-0);
    overflow: hidden;
  }
  a {
    text-decoration-thickness: unset;
    text-underline-offset: unset;
  }
}

.page-info__entry--back-link {
  @extend %page-info__grid;
  @extend %page-info__entry-style;
  & {
    margin-bottom: 1rem;
    text-decoration-color: var(--linkColor) !important;
    margin-right: auto;
    overflow: visible;
    // 12px icon + 10px gap
    transform: translateX(-12px - $tableGap);
  }
  & > * {
    color: var(--linkColor) !important;
  }
}
.page-info__entry {
  & {
    display: inline-flex;
    gap: $tableGap;
    @extend %page-info__entry-style;
  }
}

.page-info__entry__value p {
  display: inline;
}

.page-info__entry__value a {
  color: inherit;
}

.sub-list__item {
  & {
    width: min-content;
  }
  @media (width <= tokens.$breakpoint) {
    display: inline;
    width: auto;
  }
}
