.proportionate-scale-container {
  --scale: min(1, calc(var(--wrapperWidth) / (var(--elWidth) + var(--u48))));
  height: calc(var(--wrapperHeight) * var(--scale));
  --scaleModified: calc(var(--scale, 1) * var(--scaleModifier, 1));
}

.proportionate-scale-wrapper {
  
}

.proportionate-scale  {
  @supports (scale: 1) {
    scale: var(--scaleModified);
  }
  @supports not (scale: 1) {
    transform: scale(var(--scaleModified));
  }
  & {
    transform-origin: top center;
  }
}

.proportionate-scale .opposite-transform {
  transform: scale(max(1, calc(1 / var(--scaleModified))));
}
