.proportionate-scale-block {
  height: calc(var(--height) * var(--scale));
  --scaleJS: calc(var(--scale, 1) * var(--scaleModifier, 1));
}

.proportionate-scale-bounds {
  
}

.proportionate-scale  {
  transform: scale(var(--scaleJS));
  transform-origin: top center;
}

.proportionate-scale .opposite-transform {
  transform: scale(max(1, calc(1 / var(--scaleJS))));
}
