@use '../tokens';

.revisions {
  font-size: var(--type--2);
  border-top: 1px solid var(--edgeColor);
  margin-top: 2rem;
  padding-top: tokens.$gapSmall;
}

.revisions-list {
  display: grid;
  grid-template-columns: min-content auto;
  row-gap: tokens.$gapSmall;
  column-gap: tokens.$gapSmall;
  margin: 0;
  line-height: calc(1.2 * var(--type-0));
}

.revision__date, .revision__message {
  margin: 0;
}

.revision__date {
  text-align: right;
  white-space: nowrap;
  color: var(--contentSecondaryColor);
}

.revision__message a {
  text-decoration-thickness: 1px;
}
