@use '../tokens';

body:has(> .page--album) {
  --materialPrimaryColor: var(--photoBackgroundMaterialColor);
  padding: 0;
}

.page--album {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
  scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 var(--col) var(--col) var(--col);
  height: 100vh;
}

$gap: var(--col);

.page--camera-roll__header,
.page--album .page-header__container {
  scroll-snap-align: start;
  border-top: $gap solid transparent;
}

.page--album .note__body {
  margin-top: calc(var(--col)/-3);
}

.album__album-photos {
  display: contents;
}

.album__album-photos__photo {
  & {
    display: flex;
    place-content: center;
    scroll-snap-align: center; 
    flex-direction: column;
    align-items: center;
  }
  picture {
    display: block;
    position: relative;
    background-color: var(--color);
    $intrinsicWidth: calc(100dvw - var(--col)); 
    $maxHeight: calc(100dvh - var(--col)); 
    $maxWidth: calc($maxHeight * var(--ratio));
    width: min($intrinsicWidth, $maxWidth);
    height: min(calc($intrinsicWidth / var(--ratio)), $maxHeight);
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.album__album-photos__photo__metadata {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    font-size: var(--type--2);
    width: 100%;
    justify-content: space-between;
    padding: var(--type--2) 0;
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}