@use '../tokens';
$margin: max(calc(var(--type-0) * 2), calc(var(--col)/2));

.proportionate-scale--surrogate {
  display: grid;
  place-content: center;
}

.page--case-study main {
  overflow: visible;
}
z
.case-study-image {
  & {
    position: relative;
    margin: $margin auto;
    aspect-ratio: 16/9;
    border-radius: .6rem;
    overflow: hidden;
    display: grid;
    place-content: center;
    
  }
   
  &--2x {
    width: 150%;
    max-width: calc(100dvw - 2 * var(--col));
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.diligence-detail-window {
  .diligence-screen {
    opacity: 1;
    position: relative;
    > * {
      z-index: 10;
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: var(--materialPrimaryColor);
      opacity: 0.5;
    }
  }
  .proportionate-scale--surrogate {
    display: flex;
  }
}

.diligence-screen {
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
  height: 800px;
  width: 1280px;
  background-size: cover;
  z-index: 0;
  // TODO: replace w/ CDN asset
  background-image: url('../img/DSCF2387.jpg');
  opacity: 0.5;
  background-repeat: no-repeat;
}

.page--case-study .page-header__container {
  margin-bottom: max(calc(var(--type-0) * 2), calc(var(--col)/2));
}

.post-specific-info--container {
  .page-info__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
  .page-info__entry {
    flex-direction: column;
    align-items: start;
    row-gap: 0;
  }
  .page-info__entry__key {
    color: var(--contentSecondaryColor);
  }
  .page-info__entry__value {
    color: var(--contentPrimaryColor);
  }
}
