@use '../tokens';

// bc :root is typically the scrolling element
:root:has(> body > .page--design) {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

.page--design {
  min-height: 100dvh;
  padding: 0 0 var(--col) 0;
}

.page--design__header {
  margin: 0 auto calc(var(--col)/3) auto;
}

.page--design__header,
.page--design .page-header__container {
  scroll-snap-align: start;
  padding-top: var(--col);
  scroll-snap-stop: always;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
}

.page--design .page__footer {
  scroll-margin-bottom: var(--col);
  scroll-snap-stop: always;
}

.page--design .related-posts {
  margin-bottom: var(--col);
}

.project {
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  gap: var(--u16);
}

.project__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project__meta, .shots {
  padding: 0 var(--col);
  scroll-snap-type: x mandatory;
}

$shotGap: #{calc(var(--col) / 2)};

.shots {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  overflow: auto;
  align-items: start;
  justify-content: start;
  gap: $shotGap;
}

.shot {
  flex: 1;
  scroll-snap-align: center; 
  & {
    display: flex;
    place-content: center;
    scroll-snap-align: center; 
    flex-direction: column;
    align-items: center;
    min-width: calc(100dvw - (var(--col) * 2) - $shotGap);
    width: calc(100dvw - (var(--col) * 2) - $shotGap);
  }
  picture {
    display: block;
    position: relative;
    background-color: var(--materialElevatedPrimaryColor);
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.shot .content {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    font-size: var(--type--2);
    width: 100%;
    justify-content: space-between;
    padding: var(--type--2) 0;
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}
