@use 'sass:math';
@use '../tokens';

@property --shadow {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --backgroundColor {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}

$debug: false;
$size: 75dvmin;
// bc :root is typically the scrolling element
:root:has(> body > .page--design) {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.page--design {
  min-height: 100dvh;
  padding: 0 0 var(--col) 0;
}

.page--design__header {
  margin: 0 auto calc(var(--col)/3) auto;
}

.page--design__header,
.page--design .page-header__container {
  scroll-snap-align: start;
  padding-top: var(--col);
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
}

.page--design .page__footer {
  scroll-margin-bottom: var(--col);
  scroll-snap-align: end;
  width: $size;
  margin: 0 auto;
}

.page--design .related-posts {
  margin-bottom: var(--col);
}

.project {
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  gap: var(--u16);
  width: 100dvw;
  --child-padding: var(--col);
}

.project__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  width: $size;
  margin: 0 var(--child-padding);
}

$shotGap: #{calc(var(--col) / 2)};

.shots {
  // compensate for child's drop-shadow
  padding: 25dvh calc((100dvw - $size)/2);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: start;
  justify-content: start;
  gap: $shotGap;
  // scroll
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always; 
  -webkit-overflow-scrolling: touch;
  // hide scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
  // compensate for child's drop-shadow
  margin: -25dvh 0;
}

@keyframes showShot {
  0% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: center left;
  }
  50% {
    --backgroundColor: var(--materialElevatedNoninteractivePrimaryColor);
    transform: scale(1);
    --shadow: 1;
    --opacity: 1;
    transform-origin: center;
  }
  100% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: center right;
  }
}


@keyframes showContent {
  0%, 33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  67%, 100% {
    opacity: 0;
  }
}

.shot picture, .shot .content, {
  animation-timeline: view(x calc(((100dvw - $size)/2)));
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.shot picture {
  animation-name: showShot;
}

.shot .content {
  animation-name: showContent;
}

.shot {
  & {
    scroll-snap-stop: always;
    scroll-snap-align: center; 
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
  }
  picture {
    // transform-origin: center left;
    font-size: var(--type-0);
    border-radius: .6em;
    display: block;
    position: relative;
    background-color: var(--backgroundColor);
    min-height: math.div($size, 1.5);
    width: $size;
    &::after {
      content: '';
      border-radius: .6em;
      position: absolute;
      display: block;
      inset: 0;
      opacity: var(--shadow);
      /* https://smoothshadows.com/#djEsMSw0LDAuMTIsNjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwx */
      box-shadow: 
        0px 2px 4px rgba(3, 7, 18, 0.03),
        0px 8px 16px rgba(3, 7, 18, 0.06),
        0px 18px 36px rgba(3, 7, 18, 0.09),
        0px 32px 64px rgba(3, 7, 18, 0.12);

    }
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    opacity: var(--opacity, 1);
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.shot .content {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    font-size: var(--type--2);
    width: 100%;
    justify-content: space-between;
    padding: var(--type--2) 0;
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}

@if $debug {
  .project {
    outline: 1px solid red;
  }
  .project__meta {
    outline: 1px solid yellow;
  }
  .shots {
    outline: 1px solid #00ff00;
  }
  .shot {
    outline: 1px solid #ffff00;
  }
}
