@use 'sass:math';
@use '../tokens';

@property --opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --backgroundColor {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}

@property --desktopPanelWidth {
  syntax: '<number>';
  inherits: true;
  initial-value: 75dvmin;
}

@property --i {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}
@property --length {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

$debug: false;
$carouselInset: calc(((100dvw - var(--desktopPanelWidth))/2));

// bc :root is typically the scrolling element
:root:has(> body > .page--design) {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.page--design {
  min-height: 100dvh;
  padding: 0 0 var(--col) 0;
    // largest sizes for deskop and touchscreen
  --desktopPanelWidth: 85dvmin;
  --desktopPanelHeight: calc((2 * var(--desktopPanelWidth))/3);
  // smallest desktop size
  @media (width <= tokens.$breakpoint) {
    --desktopPanelWidth: calc(100dvw - var(--col) * 2);
  }
  // mobile sizes
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    --desktopPanelWidth: calc(100dvw - var(--u32));
    --desktopPanelHeight: calc(var(--desktopPanelWidth) * 1.5);
  }
}

.page--design__header {
  margin: 0 auto calc(var(--col)/3) auto;
}

.page--design__header,
.page--design .page-header__container {
  scroll-snap-align: start;
  padding-top: var(--col);
}

.scroll-thief {
  & {
    z-index: 9999;
  }
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    display: none;
  }
  &--leading, &--trailing {
    position: fixed;
    width: calc((100dvw - var(--desktopPanelWidth) - var(--u128))/2);
  }
  &--leading {
    inset: 0 auto 0 0;
  }
  &--trailing {
    inset: 0 0 0 auto;
  }
  &--shot {
    position: absolute;
    // from the bottom of the image
    // inset: calc(var(--u32) + var(--desktopPanelHeight)) 0 0 0;
    // from the bottom of the image plus just enough space for text
    font-size: var(--type-2);
    inset: calc(var(--u32) + var(--desktopPanelHeight) + 3lh) 0 0 0;
  }
}
.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
}

.page--design .page__footer {
  scroll-margin-bottom: var(--col);
  scroll-snap-align: end;
  width: var(--desktopPanelWidth);
  margin: 0 auto;
}

.page--design .related-posts {
  margin-bottom: var(--col);
}

.project {
  position: relative;
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100dvw;
  --child-padding: var(--col);
}

.project__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  place-self: center;
  font-size: var(--type-0);
  padding: 0 .6em .6em .6em;
  width: var(--desktopPanelWidth);
  margin: 0 var(--child-padding);  
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    width: 100dvw;
    $pad: calc(var(--u16) + .6em);
    padding: 0 $pad .6em $pad;
    margin: initial;
  }
}

.project__title {
  line-height: 1em;
  height: 1lh;
}

.project__meta__trailing {
  display: flex;
  gap: var(--u8);
}

.project__meta__pager {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project__meta__pager__dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--contentTertiaryColor);
  
  background-color: var(--contentTertiaryColor);
  animation: pagerDotColor 1s linear none;
  animation-range: entry 0% exit 100%;
}
@keyframes pagerDotColor {
  0% {
    background-color: var(--contentTertiaryColor);
  }
  50% {
    background-color: var(--contentPrimaryColor);
  }
  100% {
    background-color: var(--contentTertiaryColor);
  }
}


$shotsPad: calc((100dvw - var(--desktopPanelWidth))/2);
.shots-container {
  height: calc(var(--desktopPanelHeight) + 8rem);
  width: 100dvw;
  overflow: hidden;
  position: relative;
  mask-image: 
    linear-gradient(90deg,rgba(0, 0, 0, 0) calc($shotsPad - 25dvmin), rgba(255, 255, 255, 1) $shotsPad, rgba(255, 255, 255, 1) calc(100dvw - $shotsPad), rgba(0, 0, 0, 0) calc(100dvw - $shotsPad + 25dvmin));
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    display: contents;
    mask-image: unset;
  }
}

$shotGap: #{calc(var(--col) / 2)};

.shots {
  display: flex;
  justify-content: start;
  // scroll
  scroll-snap-stop: normal; 
  -webkit-overflow-scrolling: touch;
  // hide scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
  // the following are overridden in the below media query
  scroll-snap-type: y mandatory;
  position: absolute;
  inset: 0;
  align-items: end;
  flex-direction: column;
  overflow-x: clip;
  overflow-y: auto;
  padding: $shotsPad 0;
  gap: var(--u16);
  height: 100dvw;
  transform: rotate(-90deg);
  @media (width <= tokens.$breakpoint) {
    padding: var(--col) 0;
  }
  // mobile-only 
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    scroll-snap-type: x mandatory;
    position: static;
    // inset: initial;
    align-items: start;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 var(--u16);
    // padding: 0 calc((100dvw - var(--desktopPanelWidth))/2);
    gap: var(--u8);
    height: auto;
    width: 100dvw;
    transform: none;
  }
}

@keyframes desktopMoveCarousel {
  0% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --opacity: 0.5;
    transform: scale(0.9) translate3d(0,0,0);
    transform-origin: top center;
    filter: blur(.6em);
  }
  50% {
    --backgroundColor: var(--materialElevatedNoninteractivePrimaryColor);
    transform: scale(1) translate3d(0,0,0);
    --opacity: 1;
    transform-origin: center;
    filter: blur(0);
  }
  100% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --opacity: 0.5;
    transform: scale(0.9) translate3d(0,0,0);
    transform-origin: bottom center;
    filter: blur(.6em)
  }
}

@keyframes mobileMoveCarousel {
  0% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --opacity: 0.5;
  }
  50% {
    --backgroundColor: var(--materialElevatedNoninteractivePrimaryColor);
    --opacity: 1;
  }
  100% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --opacity: 0.5;
  }
}


@keyframes desktopShowContent {
  0%, 33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  67%, 100% {
    opacity: 0;
  }
}

@keyframes mobileShowContent {
  0%, 33% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  67%, 100% {
    opacity: .5;
  }
}

.shot > .picture, .shot .content, .shot > .video-container, {
  view-timeline-name: --carousel;
  view-timeline-axis: y;
  view-timeline-inset: $carouselInset; 
  animation-timeline: --carousel;
  // animation-timeline: view(y $carouselInset);
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    view-timeline-axis: x;
    // animation-timeline: view(x $carouselInset);
  }
}

.shot > .picture, .shot .video-container {
  will-change: filter, transform, transform-origin, opacity, background-color, var(--backgroundColor);
  animation-name: desktopMoveCarousel;
  overflow: visible;
  transform: translate3d(0,0,0);
  
  @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
    animation-name: mobileMoveCarousel;
  }
}

.shot .content {
  will-change: opacity;
  animation-name: desktopShowContent;
  @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
    animation-name: mobileShowContent;
  }
}

.shot {
  & {
    scroll-snap-stop: normal;
    scroll-snap-align: center; 
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: row-reverse;
    scroll-timeline-axis: y;
    // mobile-only
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      flex-direction: column;
      scroll-timeline-axis: x;
    }
  }
  > .picture, .video-container {
    // transform-origin: center left;
    font-size: var(--type-0);
    overflow: hidden;
    border-radius: .6em;
    display: grid;
    place-content: center;
    position: relative;
    background-color: var(--backgroundColor);
    // large screens
    // these are flipped bc the container is rotate 90deg
    height: var(--desktopPanelWidth);
    width: var(--desktopPanelHeight);
    opacity: var(--opacity, 1);
    // mobile-only
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      // while the container isn't rotated, the orientation is flipped
      height: var(--desktopPanelHeight);
      width: var(--desktopPanelWidth);
    }
  }
  .video-container {
    isolation: isolate;
    background-color: var(--cK0);
    box-shadow: inset 0 0 0 10px var(--backgroundColor)
  }
  .video-container picture {
    display: contents;
  }
  .video-container img {
    pointer-events: none;
  }
  video {
    & {
      position: absolute;
      place-self: center;
      width: var(--desktopPanelWidth);
      height: auto;
      z-index: -1;
      isolation: isolate;
      transform: rotate(90deg) scale(var(--scale, 1)); // screen width in Figma / canvas width
      box-shadow: 0 0 0 3px var(--CK0); // adjusts for frame and vid not perfectly aligning
      &.design-screen-recording--iPhone-8 {
        --scale: calc(375/1440); // screen height bc rotation in Figma / canvas width
      }
      &.design-screen-recording--iPhone-11-Pro {
        --scale: calc(375/1440);
      }
      &.design-screen-recording--iPhone-14-Pro--landscape {
        --scale: calc(852/1440);
        border-radius: min(6dvh, 60px);
      }
      &.design-screen-recording--iPhone-14-Pro--portrait {
        --scale: calc(393/1440);
        border-radius: min(6dvh, 60px);
      }
    }
    @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
      transform: scale(var(--scale, 1)); //
      &.design-screen-recording--iPhone-8 {
        --scale: calc(375/720); // screen width in Figma / canvas width
      }
      &.design-screen-recording--iPhone-11-Pro {
        --scale: calc(375/720); // screen width in Figma / canvas width
      }
      &.design-screen-recording--iPhone-14-Pro--landscape {
        --scale: calc(630.83/720); // screen width in Figma / canvas width
      }
      &.design-screen-recording--iPhone-14-Pro--portrait {
        --scale: calc(393/720); // screen width in Figma / canvas width
      }
    }
  }
  source {
    display: none;
  }
  img, svg {
    & {
      transform: rotate(90deg);
    }
    @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
      transform: none;
    }
  }
  img, svg {
    // desktop-only
    min-height: var(--desktopPanelHeight);
    width: var(--desktopPanelWidth);
    // mobile 
    @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
      transform: none;
    }
  }
  img {
    display: block;
    overflow: hidden;
    z-index: 10;
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.shot .content {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    justify-content: space-between;
    height: 100%;
    width: auto;
    padding: .6em var(--type--2);
    p {
      font-size: var(--type--2);
      writing-mode: vertical-rl;
      cursor: text;
    }
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      width: 100%;
      padding: var(--type--2) .6em;
      height: auto;
      p {
        writing-mode: initial;
      }
    }
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}

@if $debug {
  .project {
    outline: 1px solid red;
  }
  .project__meta {
    outline: 1px solid purple;
  }
  .shots {
    outline: 1px solid #00ff00;
  }
  .shot {
    outline: 1px solid purple;
  }
  
  .scroll-thief {
    background-color: rgba(255, 255, 0, 0.125);
  }
}

.design--mobile {
  display: none;
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    display: block;
  }
}

.design--desktop {
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    display: none;
  }
}

// svgs on the page
.zello-mainmenu-icons {
  background-color: var(--backgroundColor);
  path {
    fill: var(--foregroundColor);
  }
  --backgroundColor: var(--materialSecondaryColor);
  --foregroundColor: var(--contentTertiaryColor);
}

.video-1x { 
  display: block; 
}

.video-2x,
.video-3x { 
  display: none; 
  pointer-events: none;
}

@media (min-resolution: 2dppx) {
  .video-1x { 
    display: none; 
    pointer-events: none;
  }

  .video-2x { 
    display: block; 
  }
}

@media (min-resolution: 3dppx) {
  .video-2x { 
    display: none; 
    pointer-events: none;
  }

  .video-3x { 
    display: block; 
  }
}

.video--desktop {
  display: block;
}

.video--mobile {
  display: none;
}

@media (pointer: coarse) {
  .video--desktop {
    display: none;
  }

  .video--mobile {
    display: block;
  }
}