@use 'sass:math';
@use '../tokens';

@property --shadow {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --backgroundColor {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}

@property --desktopPanelWidth {
  syntax: '<number>';
  inherits: true;
  initial-value: 75dvmin;
}

$debug: false;
$size: 75dvmin;
// bc :root is typically the scrolling element
:root:has(> body > .page--design) {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (pointers: fine) {
    scroll-snap-type: y mandatory;
  }
}

.page--design {
  min-height: 100dvh;
  padding: 0 0 var(--col) 0;
    // largest sizes for deskop and touchscreen
  --desktopPanelWidth: 85dvmin;
  --desktopPanelHeight: calc((2 * var(--desktopPanelWidth))/3);
  // smallest desktop size
  @media (width <= tokens.$breakpoint) {
    --desktopPanelWidth: calc(100dvw - var(--col) * 2);
  }
  // mobile sizes
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    --desktopPanelWidth: calc(100dvw - var(--u64));
    --desktopPanelHeight: calc(var(--desktopPanelWidth) * 1.5);
  }
}

.page--design__header {
  margin: 0 auto calc(var(--col)/3) auto;
}

.page--design__header,
.page--design .page-header__container {
  scroll-snap-align: start;
  padding-top: var(--col);
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
}

.page--design .page__footer {
  scroll-margin-bottom: var(--col);
  scroll-snap-align: end;
  width: var(--desktopPanelWidth);
  margin: 0 auto;
}

.page--design .related-posts {
  margin-bottom: var(--col);
}

.project {
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100dvw;
  --child-padding: var(--col);
}

.project__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  place-self: center;
  font-size: var(--type-0);
  padding: 0 .6em .6em .6em;
  width: var(--desktopPanelWidth);
  margin: 0 var(--child-padding);  
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    width: 100dvw;
    $pad: calc(var(--u16) + .6em);
    padding: 0 $pad .6em $pad;
    margin: initial;
  }
}

.project__title {
  line-height: 1em;
  height: 1lh;
}

.shots-container {
  height: calc(var(--desktopPanelHeight) + 8rem);
  width: 100dvw;
  overflow: hidden;
  position: relative;
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    display: contents;
  }
}

$shotGap: #{calc(var(--col) / 2)};

.shots {
  display: flex;
  justify-content: start;
  // scroll
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal; 
  -webkit-overflow-scrolling: touch;
  // hide scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
  // the following are overridden in the below media query
  position: absolute;
  inset: 0;
  align-items: end;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: calc((100dvw - var(--desktopPanelWidth))/2) 0;
  gap: var(--u16);
  height: 100dvw;
  transform: rotate(-90deg);
  @media (width <= tokens.$breakpoint) {
    padding: var(--col) 0;
  }
  // mobile-only 
  @media (pointer: coarse) and (width <= tokens.$breakpoint) {
    position: static;
    // inset: initial;
    align-items: start;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 var(--u16);
    gap: var(--u8);
    height: auto;
    width: 100dvw;
    transform: none;
  }

}

@keyframes showShot {
  0% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: top center;
  }
  50% {
    --backgroundColor: var(--materialElevatedNoninteractivePrimaryColor);
    transform: scale(1);
    --shadow: 1;
    --opacity: 1;
    transform-origin: center;
  }
  100% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: bottom center;
  }
}


@keyframes showContent {
  0%, 33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  67%, 100% {
    opacity: 0;
  }
}

.shot picture, .shot .content, {
  animation-timeline: view(y calc(((100dvw - var(--desktopPanelWidth))/2)));
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.shot picture {
  animation-name: showShot;
}

.shot .content {
  animation-name: showContent;
}

.shot {
  & {
    scroll-snap-stop: normal;
    scroll-snap-align: center; 
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: row-reverse;
    // mobile-only
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      flex-direction: column;
    }
  }
  picture {
    // transform-origin: center left;
    font-size: var(--type-0);
    border-radius: .6em;
    display: grid;
    position: relative;
    background-color: var(--backgroundColor);
    // large screens
    // these are flipped bc the container is rotate 90deg
    height: var(--desktopPanelWidth);
    width: var(--desktopPanelHeight);
    // mobile-only
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      // while the container isn't rotated, the orientation is flipped
      height: var(--desktopPanelHeight);
      width: var(--desktopPanelWidth);
    }
    &::after {
      content: '';
      border-radius: .6em;
      position: absolute;
      display: block;
      inset: 0;
      opacity: var(--shadow);
      /* https://smoothshadows.com/#djEsMSw0LDAuMTIsNjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwx */
    }
  }
  source {
    display: none;
  }
  img {
    display: block;
    overflow: hidden;
    z-index: 10;
    opacity: var(--opacity, 1);
    min-height: var(--desktopPanelHeight);
    width: var(--desktopPanelWidth);
    // desktop-only
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    // mobile 
    @media (pointer: coarse) and (width <= tokens.$breakpoint) { 
      transform: none;
    }
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.shot .content {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    justify-content: space-between;
    height: 100%;
    width: auto;
    padding: .6em var(--type--2);
    p {
      font-size: var(--type--2);
      writing-mode: vertical-rl;
      cursor: text;
    }
    @media (pointer: coarse) and (width <= tokens.$breakpoint) {
      width: 100%;
      padding: var(--type--2) .6em;
      height: auto;
      p {
        writing-mode: initial;
      }
    }
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}

@if $debug {
  .project {
    outline: 1px solid red;
  }
  .project__meta {
    outline: 1px solid purple;
  }
  .shots {
    outline: 1px solid #00ff00;
  }
  .shot {
    outline: 1px solid purple;
  }
}
