@use 'sass:math';
@use '../tokens';

@property --shadow {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --backgroundColor {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}

@property --desktopPanelWidth {
  syntax: '<number>';
  inherits: true;
  initial-value: 75dvmin;
}

$debug: false;
$size: 75dvmin;
// bc :root is typically the scrolling element
:root:has(> body > .page--design) {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (pointers: fine) {
    scroll-snap-type: y mandatory;
  }
}

.page--design {
  min-height: 100dvh;
  padding: 0 0 var(--col) 0;
    // largest sizes for deskop and touchscreen
  --desktopPanelWidth: 85dvmin;
  --desktopPanelHeight: calc((2 * var(--desktopPanelWidth))/3);
  @media (width <= tokens.$breakpoint) {
    // smallest desktop size
    --desktopPanelWidth: calc(100dvw - var(--col) * 2);
    @media (pointer: coarse) {
      // smallest mobile sizes
      --desktopPanelWidth: calc(100dvw - var(--u64));
      --desktopPanelHeight: calc(var(--desktopPanelWidth) * 1.5);
    }
  }
}

.page--design__header {
  margin: 0 auto calc(var(--col)/3) auto;
}

.page--design__header,
.page--design .page-header__container {
  scroll-snap-align: start;
  padding-top: var(--col);
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--col) / 3);
}

.page--design .page__footer {
  scroll-margin-bottom: var(--col);
  scroll-snap-align: end;
  width: var(--desktopPanelWidth);
  margin: 0 auto;
}

.page--design .related-posts {
  margin-bottom: var(--col);
}

.project {
  scroll-snap-align: center; 
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100dvw;
  --child-padding: var(--col);
}

.project__meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  place-self: center;
  font-size: var(--type-0);
  padding: 0 .6em .6em .6em;
  @media (pointer: fine) {
    width: var(--desktopPanelWidth);
    margin: 0 var(--child-padding);  
  }
  @media (pointer: coarse) {
    width: 100dvw;
    $pad: calc(var(--u16) + .6em);
    padding: 0 $pad .6em $pad;
  }
}

.project__title {
  line-height: 1em;
  height: 1lh;
}

.shots-container {
  height: calc(var(--desktopPanelHeight) + 8rem);
  width: 100dvw;
  overflow: hidden;
  @media(pointer: fine) {
    position: relative;
  }
  @media(pointer: coarse) {
    display: contents;
  }
}

$shotGap: #{calc(var(--col) / 2)};

.shots {
  display: flex;
  justify-content: start;
  // scroll
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal; 
  -webkit-overflow-scrolling: touch;
  // hide scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
  // mobile-only {
  @media(pointer: coarse) {
    align-items: start;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 var(--u16);
    gap: var(--u8);
    width: 100dvw;
  }
  // desktop-only
  @media(pointer: fine) {
    position: absolute;
    inset: 0;
    align-items: end;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: calc((100dvw - var(--desktopPanelWidth))/2) 0;
    @media (width <= tokens.$breakpoint) {
      padding: var(--col) 0;
    }
    gap: var(--u16);
    height: 100dvw;
    transform: rotate(-90deg);
  }
}

@keyframes showShot {
  0% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: top center;
  }
  50% {
    --backgroundColor: var(--materialElevatedNoninteractivePrimaryColor);
    transform: scale(1);
    --shadow: 1;
    --opacity: 1;
    transform-origin: center;
  }
  100% {
    --backgroundColor: var(--materialElevatedNoninteractiveSecondaryColor);
    --shadow: 0;
    --opacity: 0.5;
    transform: scale(0.9);
    transform-origin: bottom center;
  }
}


@keyframes showContent {
  0%, 33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  67%, 100% {
    opacity: 0;
  }
}

.shot picture, .shot .content, {
  animation-timeline: view(y calc(((100dvw - var(--desktopPanelWidth))/2)));
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.shot picture {
  animation-name: showShot;
}

.shot .content {
  animation-name: showContent;
}

.shot {
  & {
    scroll-snap-stop: normal;
    scroll-snap-align: center; 
    display: flex;
    place-content: center;
    align-items: center;
    // mobile-only {
    @media(pointer: coarse) {
      flex-direction: column;
    }
    // desktop-only
    @media(pointer: fine) {
      flex-direction: row-reverse;
    }
  }
  picture {
    // transform-origin: center left;
    font-size: var(--type-0);
    border-radius: .6em;
    display: grid;
    position: relative;
    background-color: var(--backgroundColor);
    // mobile-only {
    @media(pointer: coarse) {
      height: calc(var(--desktopPanelWidth) / 1.5);
      width: var(--desktopPanelWidth);
    }
    // desktop-only
    @media(pointer: fine) {
      height: var(--desktopPanelWidth);
      width: calc(var(--desktopPanelWidth) / 1.5);
    }
    &::after {
      content: '';
      border-radius: .6em;
      position: absolute;
      display: block;
      inset: 0;
      opacity: var(--shadow);
      /* https://smoothshadows.com/#djEsMSw0LDAuMTIsNjQsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwx */
    }
  }
  source {
    display: none;
  }
  img {
    display: block;
    overflow: hidden;
    z-index: 10;
    opacity: var(--opacity, 1);
    min-height: calc(var(--desktopPanelWidth) / 1.5);
    width: var(--desktopPanelWidth);
    // desktop-only
    @media(pointer: fine) {
      transform: rotate(90deg) translateY(-100%);
      transform-origin: top left;
    }
    & + .blurUp {
      z-index: 100;
      position: absolute;
      inset: 0;
      will-change: backdrop-filter;
      backdrop-filter: blur(20px) saturate(1.3);
      transition: backdrop-filter 1s ease-out;
    }
    &.imgLoaded {
      opacity: 1;
    }
    &.imgLoaded + .blurUp {
      backdrop-filter: blur(0) saturate(1);
    } 
  } 
}

.shot .content {
  & {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    flex-direction: row;
    list-style: none;
    color: var(--contentSecondaryColor);
    width: 100%;
    justify-content: space-between;
    padding: var(--type--2) .6em;
    // desktop-only
    @media(pointer: fine) {
      p {
        font-size: var(--type--2);
        writing-mode: vertical-rl;
        cursor: text;
      }
      height: 100%;
      width: auto;
      padding: .6em var(--type--2);
    }
  }
  li {
    text-align: center;
    white-space: nowrap;
  }
}

@if $debug {
  .project {
    outline: 1px solid red;
  }
  .project__meta {
    outline: 1px solid purple;
  }
  .shots {
    outline: 1px solid #00ff00;
  }
  .shot {
    outline: 1px solid purple;
  }
}
