.page-header__title {
  display: inline-flex;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}

.note__body ol {
  list-style: decimal;
}

.note__body ul {
  list-style: circle;
}

.note__body ul, .note__body ol:not(.footnotes-list) {
  li {
    width: 100%;
    &:not(:last-child) { 
      margin: 0 auto 1em auto;
    }
    &::marker {
      color: var(--contentTertiaryColor);
    }
  }

  &:has(+ p) {
    margin: 0 auto 1em auto;
  }
}

.note__body + .backlinks {
  margin-top: 1em;
}

.note__body > p, .pen__body > p {
  line-height: 1.5em;
  &:not(:last-of-type) {
    margin: 0 auto 1em auto;
  }
}
