@use '../tokens' as tokens;

@include tokens.textStyles;

.page-header__container {
  & {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: tokens.$width;
    margin: 0 auto 1em auto;
}
  h1 {
    margin: 0;
  }
}

.note__body ol {
  list-style: decimal;
}

.note__body ul {
  list-style: disc;
}

.note__body ol, .note__body ul {
  // this layout approach isn't great, but ::marker doesn't work in grid, and I can't use ::before. The superscript for footnotes doesn't respect grid areas :shrug: 
  // padding for markers of 2 characters, optically adjusted
  padding: 0 0 0 2.5rem;
}

.note__body ul, .note__body ol:not(.footnotes-list) {
  li {
    & {
      width: 100%;
    }
    &:not(:last-child) { 
      margin: 0 auto 1em auto;
    }
    &::marker {
      color: var(--contentTertiaryColor);
    }
  }

  &:has(+ p) {
    margin: 0 auto 1em auto;
  }
}

.note__body, .pen__body {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: tokens.$width;
  > p:not(:last-of-type), > h2, > h3, > h4, > h5, > h6, > ol, > ul {
    margin: 0 0 1em 0;
  }
}

.note__body > picture {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
.note__body > picture img {
  width: 100%;
  max-width: tokens.$width;
  height: auto;
}