@use 'sass:math';
@use 'defaults';
@use 'syntax';
@use 'tokens';

.note__header {
  display: inline-flex;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}

.note__body + .backlinks {
  margin-top: 1em;
}

.note__body > *, .pen__body > * {
  line-height: 1.5em;
  &:not(:last-child) {
    margin: 0 auto 1em auto;
  }
}
