<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://p.typekit.net" crossorigin>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://wilnichols.com/feed.xml">
    <link href="https://github.com/wilnichols" rel="me">
    <link rel="webmention" href="https://webmention.io/wilnichols.com/webmention" />
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <meta name="description" content="{{ meta.description }}">
    <meta name="fediverse:creator" content="@wil@indieweb.social" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon-180.png">
    <title>{{ altTitle if altTitle else title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url | bust }}">
    <link rel="stylesheet" href="https://use.typekit.net/unc0ogx.css">
    {% env.context == 'prod' -%}
      <script src="https://cdn.usefathom.com/script.js" data-site="LKKQZUGE" defer></script>
    {%- endif %}
  </head>
  <body>
    {{ content | safe }}
    {% js "defer" %}
      let body = document.getElementsByTagName('body')[0];
      body.classList.add('page-loaded');
    {% endjs %}
    <script>
    {% getBundle "js", "defer" %}
    </script>
  </body>
</html>
