<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <link rel="preconnect" href="https://use.typekit.net" crossorigin>
    <link rel="preconnect" href="https://p.typekit.net" crossorigin>
    <link rel="preload" href="https://p.typekit.net" crossorigin>
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <meta name="description" content="{{ meta.description }}">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon-180.png">
    <title>{{ meta.title.base }}{{ meta.title.separator if page.title }}{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url | bust }}">
    <link rel="stylesheet" href="https://use.typekit.net/unc0ogx.css">
    {% if layout == "pen.njk" %}
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
      rel="stylesheet"
    />
    {% endif %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
