---
layout: page.njk
eleventyImport:
  collections: ["albumGroups", "albums"]
---
{% from "../_includes/header.njk" import Header with context %}
{% from "../_includes/picture.njk" import Picture with context %}

<div class="page page--albums">
  {{ Header() }}
  {% include "../_includes/album-list.njk" %}
</div>
