---
layout: page.njk
eleventyImport:
  collections: ["albumGroups", "albums"]
---
{% from "../_includes/header.njk" import header with context %}
{% from "../_includes/picture.njk" import Picture with context %}
{% from "../_includes/footer.njk" import footer with context %}

<div class="page page--albums">
  {{ header() }}
  {% include "../_includes/album-list.njk" %}
  </div>
