---
layout: page.njk
eleventyImport:
  collections: ["photos"]
---
{% set albumGroup %}{% for tag in tags %}{{ tag if "AlbumGroup/" in tag }}{% endfor %}{% endset %}
{% set groupAlbums = collections[albumGroup] | excludeGroupIntros %}
{% set previousPost = groupAlbums | getPreviousCollectionItem %}
{% set nextPost     = groupAlbums | getNextCollectionItem %}
{% include 'partials/post-shell.njk' %}
