---
layout: page.njk
---
{% from "../_includes/header.njk" import Header with context %}
{% from "../_includes/picture.njk" import Picture with context %}
{% from "../_includes/footer.njk" import Footer with context %}

<div class="page page--camera-roll page--album">
  {{ Header("page--camera-roll__header") }}
  <ul class="album__album-photos">
    {# using a collection gets around Nunjucks synchronous behavior #}
    {% for photo in collections.glassPhotos | reverse %}
      {{ photo | warn }}
      {% if loop.index < 3 %}{% set loading = 'eager' %}{% else %}{% set loading = 'lazy' %}{% endif %}
      {% set src = photo.key %}
      {% set photoID %}photo-{{ loop.index }}{% endset %}
      <li class="album__album-photos__photo" id="{{ photoID }}">
        <a href="{{ photo.meta.url }}" target="blank">
          {{  Picture(
              fileName = photoID,
              src = src,
              loading = loading
          ) }}
        </a>
        <ul class="album__album-photos__photo__metadata">
          <li>{{ photo.meta.date.formatted | readableDateISO }}</li>
          <li>{{ photo.meta.camera.lens | replace("Fujifilm ", "") | replace("mF", "m F") }}</li>
          <li>{{ photo.meta.settings.aperture | replace("/", "") }}</li>
          <li>{{ photo.meta.settings.shutter }}</li>
          <li>{{ photo.meta.settings.iso }}</li>
        </ul>
      </li>
    {% endfor %}
    {{ Footer(el="li") }}
  </ul>
</div>
