---
layout: page.njk
---

{%- from 'asides.njk' import CaseStudyInfo with context -%}
{%- from 'page-header.njk' import PageHeader with context -%}
{%- from 'related-posts.njk' import RelatedPosts with context -%}
{%- from "../_includes/footer.njk" import Footer with context -%}
{%- from "../_includes/revisions.njk" import RevisionList with context -%}

{% set previousPost = collections.Notes | getPreviousCollectionItem %}
{% set nextPost = collections.Notes | getNextCollectionItem %}
{% set backlinks = collections.all | links_to(page.url) %}

<div class="page page--note page--case-study">
  <header class="page-header__container">
    {{ PageHeader() }}
    {% include 'heroes/' + page.fileSlug + '.njk' %}
    {{ CaseStudyInfo(project) }}
  </header>
  <div class="content-body">
    {{ content | safe }}
    {{ RevisionList(
      el='section',
      revisions
    )}}
  </div>
  {{ RelatedPosts(previousPost, nextPost) }}
  {{ Footer() }}
</div>
