---
layout: page.njk
---

{%- from 'asides.njk' import CaseStudyInfo with context -%}
{%- from 'page-header.njk' import PageHeader with context -%}
{%- from 'related-posts.njk' import RelatedPosts with context -%}
{%- from "../_includes/footer.njk" import Footer with context -%}
{%- from "../_includes/revisions.njk" import RevisionList with context -%}

{% set previousPost = collections.Notes | getPreviousCollectionItem %}
{% set nextPost = collections.Notes | getNextCollectionItem %}
{% set backlinks = collections.all | links_to(page.url) %}

<div class="page page--note page--case-study">
  <header class="page-header__container">
    {{ PageHeader() }}
    {% include 'heroes/' + page.fileSlug + '.njk' %}
    {{ CaseStudyInfo(project) }}
  </header>
  <div class="content-body">
    {{ content | safe }}
    {{ RevisionList(
      el='section',
      revisions
    )}}
  </div>
  {{ RelatedPosts(previousPost, nextPost) }}
  {{ Footer() }}
</div>

{% js "defer" %}
  function updateProportionalScales() {
    document.querySelectorAll('.proportionate-scale').forEach(el => {
      const elWidth = el.offsetWidth;
      const elHeight = el.offsetHeight;
  
      const wrapper = el.parentElement;
      const wrapperStyles = window.getComputedStyle(wrapper);
  
      const wrapperWidth = wrapper.clientWidth
        - parseFloat(wrapperStyles.paddingLeft)
        - parseFloat(wrapperStyles.paddingRight);
      
      const wrapperHeight = wrapper.clientHeight
        - parseFloat(wrapperStyles.paddingTop)
        - parseFloat(wrapperStyles.paddingBottom);
  
      const scale = Math.min(elWidth / wrapperWidth, elHeight / wrapperHeight);
      console.log("width: wrapper: " + wrapperWidth + 'element: ' + elWidth);
      console.log("height: wrapper: " + wrapperHeight + 'element: ' + elHeight);
      wrapper.style.setProperty('--transform', scale.toString());
    });
  }
  
  updateProportionalScales();
  window.addEventListener('resize', updateProportionalScales);
{% endjs %}