---
layout: page.njk
---
{%- from 'title-and-date.njk' import PageTitle with context -%}
{%- from 'page-info.njk' import EditorialInfo with context -%}

<article class="page page--note">
  {% set backlinks = collections.all | links_to(page.url) %}
  {{ EditorialInfo(backlinks) }}
  {{ PageTitle() }}
  <main class="note__body">
  {{ content | safe }}
  </main>
</article>
