---
layout: page.njk
---

{%- from 'title-and-date.njk' import PageTitle with context -%}
{%- from 'page-info.njk' import EditorialInfo with context -%}
{%- from "../_includes/footer.njk" import footer with context -%}

{% set previousPost = collections.Notes | getPreviousCollectionItem %}
{% set nextPost = collections.Notes | getNextCollectionItem %}

<article class="page page--note">
  {% set backlinks = collections.all | links_to(page.url) %}
  {{ EditorialInfo(previousPost, nextPost, backlinks, ingredients) }}
  {{ PageTitle() }}
  <main class="note__body">
    {{ content | safe }}
  </main>
  {{ footer() }}
</article>
