---
layout: page.njk
---
{%- from 'page-header.njk' import PageHeader with context -%}
{%- from 'related-posts.njk' import RelatedPosts with context -%}

{%- from "../_includes/footer.njk" import Footer with context -%}
{%- from "../_includes/revisions.njk" import RevisionList with context -%}

{% set previousPost = collections.Pens | getPreviousCollectionItem %}
{% set nextPost = collections.Pens | getNextCollectionItem %}
{% set backlinks = collections.all | links_to(page.url) %}


<div class="page page--pen">
  <header class="page-header__container">
    {{ PageHeader() }}
  </header>
  <main class="content-body">
    <div class="case-study-image case-study-image--16x9 iframe-hero">
      {% if hero %}
        <iframe class="demo__iframe" src="{{ hero }}" frameborder="0"></iframe>
      {% endif %}
    </div>
    {{ content | safe }}
    {{ RevisionList(
      el='div',
      revisions
    )}}
  </main>
  {{ RelatedPosts(previousPost, nextPost, backlinks) }}
  {{ Footer() }}
</div>
