---
layout: page.njk
---
{% from "../_includes/header.njk" import header with context %}
{% from "../_includes/post-list.njk" import protoypeList with context %}

<div class="page page--category">
  {{ header() }}
  {% if content -%}
  <div class="about-me">
    {{ content | safe }}
  </div>
  {%- endif %}
  {{ protoypeList(collections[collection], true) }}
</div>
