---
layout: page.njk
---

{%- from 'asides.njk' import IngredientsList with context -%}
{%- from 'title-and-date.njk' import PageHeader with context -%}
{%- from 'page-info.njk' import PageInfo with context -%}
{%- from "../_includes/footer.njk" import Footer with context -%}
{%- from "../_includes/revisions.njk" import RevisionList with context -%}

{% set previousPost = collections.Notes | getPreviousCollectionItem %}
{% set nextPost = collections.Notes | getNextCollectionItem %}

<article class="page page--note">
  {% set backlinks = collections.all | links_to(page.url) %}
  <header class="page-header__container">
    {{ PageInfo(previousPost, nextPost, backlinks) }}
    {{ PageHeader() }}
    {{ IngredientsList(ingredients)}}
  </header>
  <main class="note__body">
    {{ content | safe }}
    {{ RevisionList(
      el='section',
      revisions
    )}}
  </main>
  {{ Footer() }}
</article>
