---
layout: page.njk
---

{%- from 'page-header.njk' import PageHeader with context -%}
{%- from "../_includes/footer.njk" import Footer with context -%}
{%- from "../_includes/revisions.njk" import RevisionList with context -%}

{% set previousPost = collections.Notes | getPreviousCollectionItem %}
{% set nextPost = collections.Notes | getNextCollectionItem %}

<article class="page page--note">
  {% set backlinks = collections.all | links_to(page.url) %}
  <header class="page-header__container">
    {{ PageHeader() }}
  </header>
  <main class="content-body">
    {{ content | safe }}
    {{ RevisionList(
      el='section',
      revisions
    )}}
  </main>
  {{ Footer() }}
</article>
