// $deviceName: outerWidth, outerHeight, innerWidth, innerHeight 

$iPhone2G: 378, 728, 320, 480;
$iPad3: 966, 1254, 768, 1024;
$iPhone4: 384, 746, 320, 480;
$iPhone8: 433, 881, 375, 667;
$iPhone11Pro: 433, 863, 375, 812;
$iPhone12Pro: 440, 884, 390, 844;
$macbookPro2016: 1676, 987, 1280, 800;
