
$cKD20Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cKD20) 0%, var(--cKD10) 66.67%, var(--cKD15) 100%);
// radial-gradient(66.11% 66.11% at 50% 16.87%, #3C434E 0%, #282D31 67.31%, #31373E 100%);

$cK95Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cK95) 0%, var(--cK85) 66.67%, var(--cK95) 100%);
// radial-gradient(66.11% 66.11% at 50% 16.87%, #F9F9FB 0%, #E8ECF4 67.31%, #F9F9FB 100%);

$cBD05Linear: linear-gradient(180deg, var(--cBD05) 0%, var(--cBD10) 100%);
// linear-gradient(180deg, #1C2434 0%, #1A2C54 100%);

$cK85Linear: linear-gradient(180deg, var(--cK85) 0%, var(--cK95) 100%);
// linear-gradient(180deg, #E8ECF4 0%, #F9F9FB 100%);

$cBD20Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cBD20) 0%, var(--cBD10) 66.67%, var(--cBD15) 100%);
// radial-gradient(66.11% 66.11% at 50% 16.87%, #0F4082 0%, #1A2C54 67.31%, #16356B 100%);

$cB95Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cB95) 0%, var(--cB85) 66.67%, var(--cB95) 100%);
// radial-gradient(66.11% 66.11% at 50% 16.87%, #0F4082 0%, #1A2C54 67.31%, #16356B 100%);

$cKD10Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cKD10) 0%, var(--cKD05) 66.67%, var(--cKD15) 100%);
// radial-gradient(66.98% 66.98% at 50% 16.25%, #282D31 0%, #212324 67.31%, #31373E 100%);

$cK90Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cK90) 0%, var(--cK85) 66.67%, var(--cK95) 100%);
// radial-gradient(66.98% 66.98% at 50% 16.25%, color(display-p3 0.949 0.957 0.969) 0%, color(display-p3 0.914 0.925 0.953) 67.31%, color(display-p3 0.976 0.976 0.984) 100%);

$cVD20Radial: radial-gradient(90.42% 90.42% at 50% 16.25%, var(--cVD20) 0%, var(--cVD10) 46.61%, var(--cMD10) 75.3%, var(--cMD20) 97.6%);
// radial-gradient(90.42% 90.42% at 50% 16.25%, #432391 0%, #342165 46.61%, #401D47 75.3%, #651B70 97.6%);

$cT85Radial: radial-gradient(90.42% 90.42% at 50% 16.25%, var(--cT85) 0%, var(--cB85) 46.61%, var(--cV90) 75.3%, var(--cV95) 97.6%);
// radial-gradient(90.42% 90.42% at 50% 16.25%, #D6FDFF 0%, #DBF4FF 46.61%, #F5F0FF 75.3%, #F9F7FF 97.6%);

$cOD10Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cOD10) 0%, var(--cOD05) 66.67%, var(--cOD15) 100%);
// radial-gradient(66.98% 66.98% at 50% 16.25%, #34221F 0%, #292220 67.31%, #40241F 100%);

$cO95Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cO95) 0%, var(--cO90) 66.67%, var(--cO95) 100%)
// radial-gradient(66.98% 66.98% at 50% 16.25%, #FFF7EC 0%, #FFEDD9 67.31%, #FFF7EC 100%);

$cAD20Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cAD20) 0%, var(--cAD10) 66.67%, var(--cAD15) 100%)
// radial-gradient(66.98% 66.98% at 50% 16.25%, #0B4440 0%, #183226 67.31%, #143933 100%);

$cA95Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cA95) 0%, var(--cA90) 66.67%, var(--cA95) 100%)
// radial-gradient(66.98% 66.98% at 50% 16.25%, #E4FFF1 0%, #CFFFE9 67.31%, #E4FFF1 100%);

$cA95Radial: radial-gradient(66.11% 66.11% at 50% 16.87%, var(--cA95) 0%, var(--cA90) 66.67%, var(--cA95) 100%)
// radial-gradient(66.98% 66.98% at 50% 16.25%, #E4FFF1 0%, #CFFFE9 67.31%, #E4FFF1 100%);

$cK05Linear: linear-gradient(180deg, var(--cK05) 0%, var(--cK15) 100%);
// linear-gradient(180deg, #030405 0%, #161B22 100%);

$cK85Linear: linear-gradient(180deg, var(--cK85) 0%, var(--cK95) 100%);
// linear-gradient(180deg, #E8ECF4 0%, #F9F9FB 100%);

$cK15Linear: linear-gradient(180deg, var(--cK15) 0%, var(--cK25) 100%);
// linear-gradient(180deg, #161B22 0%, #303743 100%);

$cK75Linear: linear-gradient(180deg, var(--cK75) 0%, var(--cK85) 100%);
// linear-gradient(180deg, #161B22 0%, #303743 100%);

$cV20Linear: linear-gradient(180deg, var(--cV20) 0%, var(--cM25) 100%);
// linear-gradient(180deg, #29057F 0%, #62006F 100%);

$cV80Linear: linear-gradient(180deg, var(--cV80) 0%, var(--cM90) 100%);
// linear-gradient(180deg, #EAE0FF 0%, #FFEFFF 100%);

$cO15Linear: linear-gradient(180deg, var(--cO15) 0%, var(--cO30) 100%);
// linear-gradient(180deg, #260500 0%, #911A00 100%);

$cO85Linear: linear-gradient(180deg, var(--cO85) 0%, var(--cO95) 100%);
// linear-gradient(180deg, #FFE4CB 0%, #FFF7EC 100%);

$cA15Linear: linear-gradient(180deg, var(--cA15) 0%, var(--cA30) 100%);
// linear-gradient(180deg, #001D16 0%, #004636 100%);

$cA90Linear: linear-gradient(180deg, var(--cA90) 0%, var(--cA95) 100%);
// linear-gradient(180deg, #CFFFE9 0%, #E4FFF1 100%);

$weddingDarkRadial: radial-gradient(66.11% 66.11% at 50% 16.87%, #004512 0%, #003806 66.67%, #002D02 100%);

$weddingLightRadial: radial-gradient(66.11% 66.11% at 50% 16.87%, #F5FAE6 0%, #F0F5E1 66.67%, #E7ECD8 100%);
