@mixin colorLiterals {
  & {
    --c0: #131c29;
    --c100: #ffffff;
    --c0abs: #000000;
    --cK99: #fcfdfe;
    --cK95: #f5f7f9;
    --cK90: #eaedf2;
    --cK80: #dae0e7;
    --cK70: #bcc5d0;
    --cK60: #a4afbc;
    --cK50: #8e9bab;
    --cK40: #7e8ea0;
    --cK30: #6c7b8e;
    --cK20: #556577;
    --cK10: #414f60;
    --cK5: #2e3a4a;
    --cK1: #1d2836;
    --cR99: #fffcfc;
    --cR95: #fef4f3;
    --cR90: #ffe6e4;
    --cR80: #fecec9;
    --cR70: #f2a7a0;
    --cR60: #f88a83;
    --cR50: #f56360;
    --cR40: #ed4045;
    --cR30: #da2a37;
    --cR20: #b90f27;
    --cR10: #93081f;
    --cR5: #6e0a18;
    --cR1: #4c0a12;
    --cO99: #fffdf7;
    --cO95: #fff6e4;
    --cO90: #ffe9d0;
    --cO80: #fdd1b1;
    --cO70: #f9a771;
    --cO60: #fc8b51;
    --cO50: #ee6e40;
    --cO40: #e15c34;
    --cO30: #cc4727;
    --cO20: #ad2f22;
    --cO10: #8d1a24;
    --cO5: #71000a;
    --cO1: #500007;
    --cY99: #fefdf6;
    --cY95: #fef8d6;
    --cY90: #ffeea3;
    --cY80: #fed83f;
    --cY70: #ecbf12;
    --cY60: #d6a713;
    --cY50: #c49005;
    --cY40: #b78010;
    --cY30: #a56c0e;
    --cY20: #8d5406;
    --cY10: #733e0a;
    --cY5: #5a2a04;
    --cY1: #431900;
    --cG99: #f7ffff;
    --cG95: #e6fdf8;
    --cG90: #cff7ea;
    --cG80: #aeebd2;
    --cG70: #81d1ac;
    --cG60: #60bf90;
    --cG50: #43b277;
    --cG40: #30a160;
    --cG30: #2b904e;
    --cG20: #28753d;
    --cG10: #1f5c2b;
    --cG5: #11451a;
    --cG1: #08300d;
    --cB99: #f9feff;
    --cB95: #edfafe;
    --cB90: #daf1fe;
    --cB80: #c2e5fe;
    --cB70: #90cbfe;
    --cB60: #6eb2fe;
    --cB50: #5399fe;
    --cB40: #4e86f8;
    --cB30: #466ee8;
    --cB20: #3b52d0;
    --cB10: #3138b2;
    --cB5: #271e94;
    --cB1: #1d0475;
    --cP99: #fffcfe;
    --cP95: #fdf4fc;
    --cP90: #f7e7f9;
    --cP80: #f1d3fd;
    --cP70: #dfacff;
    --cP60: #cb8ffe;
    --cP50: #b673fc;
    --cP40: #a562f7;
    --cP30: #8e4fe4;
    --cP20: #733ac7;
    --cP10: #5926a7;
    --cP5: #431189;
    --cP1: #2e0268;
    --c0a: rgb(1 11 25 / .92);
    --c100a: rgb(255 255 255 / .0);
    --c0absa: #000000;
    --cK99a: rgb(105 155 205 / .02);
    --cK95a: rgb(5 55 105 / .04);
    --cK90a: rgb(22 55 111 / .09);
    --cK80a: rgb(8 48 95 / .15);
    --cK70a: rgb(7 40 81 / .27);
    --cK60a: rgb(2 33 69 / .36);
    --cK50a: rgb(4 33 68 / .45);
    --cK40a: rgb(2 33 69 / .51);
    --cK30a: rgb(2 27 60 / .58);
    --cK20a: rgb(1 25 52 / .67);
    --cK10a: rgb(2 20 43 / .75);
    --cK5a: rgb(0 15 34 / .82);
    --cK1a: rgb(1 13 29 / .89);
    --cR99a: rgb(255 105 105 / .02);
    --cR95a: rgb(235 35 15 / .05);
    --cR90a: rgb(255 28 10 / .11);
    --cR80a: rgb(250 32 10 / .22);
    --cR70a: rgb(221 23 5 / .38);
    --cR60a: rgb(241 16 2 / .49);
    --cR50a: rgb(239 7 3 / .63);
    --cR40a: rgb(231 0 7 / .75);
    --cR30a: rgb(211 1 17 / .84);
    --cR20a: rgb(181 2 28 / .95);
    --cR10a: rgb(144 0 24 / .97);
    --cR5a: rgb(106 2 17 / .97);
    --cR1a: rgb(70 2 11 / .97);
    --cO99a: rgb(255 205 55 / .04);
    --cO95a: rgb(255 173 10 / .11);
    --cO90a: rgb(255 139 8 / .19);
    --cO80a: rgb(249 107 3 / .31);
    --cO70a: rgb(244 98 1 / .56);
    --cO60a: rgb(251 87 3 / .69);
    --cO50a: rgb(232 62 0 / .75);
    --cO40a: rgb(218 51 1 / .80);
    --cO30a: rgb(195 39 1 / .85);
    --cO20a: rgb(161 16 1 / .87);
    --cO10a: rgb(128 1 12 / .90);
    --cO5a: #71000a;
    --cO1a: #500007;
    --cY99a: rgb(230 205 30 / .04);
    --cY95a: rgb(249 214 14 / .17);
    --cY90a: rgb(255 209 6 / .37);
    --cY80a: rgb(254 204 2 / .76);
    --cY70a: rgb(235 186 0 / .93);
    --cY60a: rgb(211 160 1 / .93);
    --cY50a: rgb(195 143 2 / .99);
    --cY40a: rgb(178 120 1 / .94);
    --cY30a: rgb(160 100 1 / .95);
    --cY20a: rgb(139 81 1 / .98);
    --cY10a: rgb(111 56 2 / .97);
    --cY5a: rgb(88 40 1 / .99);
    --cY1a: #431900;
    --cG99a: rgb(55 255 255 / .04);
    --cG95a: rgb(5 235 185 / .10);
    --cG90a: rgb(2 213 144 / .19);
    --cG80a: rgb(2 193 114 / .32);
    --cG70a: rgb(3 163 89 / .50);
    --cG60a: rgb(3 153 79 / .63);
    --cG50a: rgb(1 151 71 / .74);
    --cG40a: rgb(3 140 61 / .82);
    --cG30a: rgb(3 123 44 / .84);
    --cG20a: rgb(2 93 27 / .85);
    --cG10a: rgb(0 70 14 / .88);
    --cG5a: rgb(2 57 11 / .94);
    --cG1a: rgb(0 42 6 / .97);
    --cB99a: rgb(55 222 255 / .03);
    --cB95a: rgb(30 193 243 / .08);
    --cB90a: rgb(8 162 248 / .15);
    --cB80a: rgb(1 147 251 / .24);
    --cB70a: rgb(3 137 253 / .44);
    --cB60a: rgb(1 120 253 / .56.99999999999999);
    --cB50a: rgb(2 105 254 / .68);
    --cB40a: rgb(2 82 245 / .70);
    --cB30a: rgb(2 56 223 / .73);
    --cB20a: rgb(0 30 194 / .77);
    --cB10a: rgb(1 9 160 / .81);
    --cB5a: rgb(12 2 135 / .89);
    --cB1a: rgb(27 1 116 / .99);
    --cP99a: rgb(255 105 205 / .02);
    --cP95a: rgb(215 35 195 / .05);
    --cP90a: rgb(175 15 195 / .10);
    --cP80a: rgb(177 11 244 / .18);
    --cP70a: rgb(158 3 255 / .33);
    --cP60a: rgb(137 0 253 / .44);
    --cP50a: rgb(122 0 250 / .55);
    --cP40a: rgb(110 2 242 / .62);
    --cP30a: rgb(94 4 216 / .70);
    --cP20a: rgb(76 2 183 / .78);
    --cP10a: rgb(62 3 153 / .86);
    --cP5a: rgb(55 2 129 / .94);
    --cP1a: #2e0268;
    --c0d: rgb(19 28 41 / 0);
    --c100d: #ffffff;
    --c0absd: #000000;
    --cK99d: #fcfdfe;
    --cK95d: rgb(250 251 253 / .98);
    --cK90d: rgb(248 250 255 / .94);
    --cK80d: rgb(243 248 254 / .89);
    --cK70d: rgb(233 242 252 / .79);
    --cK60d: rgb(229 241 254 / .69);
    --cK50d: rgb(221 236 254 / .61);
    --cK40d: rgb(210 232 254 / .56);
    --cK30d: rgb(204 226 251 / .48);
    --cK20d: rgb(197 225 252 / .37);
    --cK10d: rgb(196 224 253 / .26);
    --cK5d: rgb(188 216 247 / .16);
    --cK1d: rgb(162 199 227 / .07);
    --cR99d: #fffcfc;
    --cR95d: rgb(254 244 243 / .98);
    --cR90d: rgb(255 230 228 / .94);
    --cR80d: rgb(254 206 201 / .89);
    --cR70d: rgb(254 174 166 / .95);
    --cR60d: rgb(253 140 133 / .98);
    --cR50d: rgb(254 102 98 / .96);
    --cR40d: rgb(253 67 71 / .93);
    --cR30d: rgb(253 44 57 / .85);
    --cR20d: rgb(253 10 38 / .71);
    --cR10d: rgb(197 0 27 / .72);
    --cR5d: rgb(159 0 15 / .65);
    --cR1d: rgb(107 0 6 / .65);
    --cO99d: #fffdf7;
    --cO95d: #fff6e4;
    --cO90d: #ffe9d0;
    --cO80d: #fdd1b1;
    --cO70d: rgb(254 170 114 / .98);
    --cO60d: rgb(254 140 81 / .99);
    --cO50d: rgb(254 116 66 / .93);
    --cO40d: rgb(253 101 54 / .88);
    --cO30d: rgb(253 82 38 / .79);
    --cO20d: rgb(252 57 30 / .66);
    --cO10d: rgb(254 24 31 / .52);
    --cO5d: #71000a;
    --cO1d: #500007;
    --cY99d: #fefdf6;
    --cY95d: #fef8d6;
    --cY90d: #ffeea3;
    --cY80d: #fed83f;
    --cY70d: rgb(255 205 16 / .92);
    --cY60d: rgb(254 195 14 / .83);
    --cY50d: rgb(220 160 0 / .88);
    --cY40d: rgb(253 171 5 / .70);
    --cY30d: rgb(240 149 0 / .66);
    --cY20d: rgb(161 93 0 / .86);
    --cY10d: rgb(145 73 0 / .76);
    --cY5d: rgb(97 43 0 / .91);
    --cY1d: #431900;
    --cG99d: #f7ffff;
    --cG95d: #e6fdf8;
    --cG90d: rgb(213 254 240 / .97);
    --cG80d: rgb(187 253 225 / .92);
    --cG70d: rgb(157 254 205 / .80);
    --cG60d: rgb(126 254 184 / .72);
    --cG50d: rgb(91 252 157 / .67);
    --cG40d: rgb(68 253 134 / .59);
    --cG30d: rgb(65 251 112 / .52);
    --cG20d: rgb(72 251 91 / .40);
    --cG10d: rgb(60 249 48 / .29);
    --cG5d: rgb(14 139 0 / .37);
    --cG1d: rgb(3 57 0 / .69);
    --cB99d: #f9feff;
    --cB95d: #edfafe;
    --cB90d: #daf1fe;
    --cB80d: #c2e5fe;
    --cB70d: #90cbfe;
    --cB60d: #6eb2fe;
    --cB50d: #5399fe;
    --cB40d: rgb(80 137 254 / .97);
    --cB30d: rgb(76 119 253 / .90);
    --cB20d: rgb(70 96 252 / .79);
    --cB10d: rgb(65 71 252 / .65);
    --cB5d: rgb(59 32 255 / .50);
    --cB1d: rgb(31 0 129 / .86);
    --cP99d: #fffcfe;
    --cP95d: #fdf4fc;
    --cP90d: rgb(252 235 253 / .98);
    --cP80d: #f1d3fd;
    --cP70d: #dfacff;
    --cP60d: #cb8ffe;
    --cP50d: rgb(184 116 254 / .99);
    --cP40d: rgb(170 100 253 / .97);
    --cP30d: rgb(159 86 253 / .88);
    --cP20d: rgb(149 69 255 / .74);
    --cP10d: rgb(138 45 255 / .59);
    --cP5d: rgb(126 4 254 / .45);
    --cP1d: rgb(48 0 109 / .93);
  }
}
