{%- from 'device.njk' import Device -%}

{% set screen %}
  <iframe class="screen" src="/assets/embeds/five-square-2/" width="320" height="480" frameborder="0"></iframe>
{% endset %}

<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-hero case-study-hero--five-square-2 case-study-image--2x">
    {{  Device(
          type = 'iPhone4',
          contentType = 'rich',
          content = screen
    ) }}
  </div>
</div>
