@use 'sass:math';
@use '../tokens';

%blurredBackground::before {
  content: '';
  z-index: 0;
  position: absolute;
  opacity: 0;
  filter: blur(.3em);
  will-change: opacity;
  background-color: var(--materialPrimaryHoverColor);
  transition: tokens.$x4 opacity ease-out, tokens.$x4 filter ease-out;
}


%blurredBackgroundHover::before {
  @media(pointer: fine) {
    opacity: 1;
    filter: blur(0);
    transition-duration: tokens.$x;
  }
}

%blurredBackgroundActive {
  @media(pointer: fine) {
    scale: .99;
    transition: scale 0.1s ease-out;
    &::before {
      transition: background-color 0.1s ease-out;
      background-color: var(--materialPrimaryActiveColor);
    }
  }
}

%listItemBackground {
  &::before {
    inset: -6px -8px;
    border-radius: tokens.$cornerXLarge;
  }
  & {
    @extend %blurredBackground;
  }
}
  
%linkBackground {
  $pV: 8px;
  $pH: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: var(--type--2);
  font-size: var(--type--2);
  border-radius: tokens.$cornerXLarge;
  padding: $pV $pH;
  margin: 0 0 0 #{-$pH};
  overflow: hidden;
  position: relative; 
  text-decoration: none;
  @extend %listItemBackground;
}

