@use 'tokens';

@include tokens.textStyles;

body {
  font-size: var(--type-0);
  line-height: tokens.$gapSmall;
  @extend %font--text-regular;
  --rounding-interval: 1px;
  color: var(--contentPrimaryColor);
  padding: var(--col);
  background-color: var(--materialPrimaryColor);
  @media (width <= tokens.$breakpoint) and (pointer: coarse) {
    padding: var(--u16);
    background-color: var(--materialSecondaryColor);
  }
}

.page {
  // display: grid;
  width: auto;
  row-gap: tokens.$gapSmall;
  column-gap: tokens.$gapMedium;
  @media (width <= tokens.$breakpoint) {
    align-content: start;
  }
}
