@use 'sass:math';

@mixin light-dark($prop, $lightColor, $darkColor: $lightColor) {
  #{$prop}: $lightColor;
  @media (prefers-color-scheme: dark) {
    #{$prop}: $darkColor;
  }
}

* {
  box-sizing: border-box;
}

// Typography. This isn't _the_ solution — I haven't tried much with fluid scales yet, but it's _a_ solution for now. 
/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  // type
  --type--2: clamp(0.7378rem, 0.7152rem + 0.113vi, 0.8rem);
  --type--1: clamp(0.8854rem, 0.8438rem + 0.2083vi, 1rem);
  --type-0: clamp(1.0625rem, 0.9943rem + 0.3409vi, 1.25rem);
  --type-1: clamp(1.275rem, 1.1705rem + 0.5227vi, 1.5625rem);
  --type-2: clamp(1.53rem, 1.3761rem + 0.7693vi, 1.9531rem);
  --type-3: clamp(1.836rem, 1.6159rem + 1.1007vi, 2.4414rem);
  --type-4: clamp(2.2032rem, 1.8946rem + 1.5428vi, 3.0518rem);
  --type-5: clamp(2.6438rem, 2.2181rem + 2.1288vi, 3.8147rem);
  // colors
  --contentPrimaryLight: rgb(35, 41, 52);
  --contentPrimaryDark: rgb(255, 255, 255);
  --contentSecondaryLight: rgb(151, 157, 168);
  --contentSecondaryDark: rgb(132, 138, 150);
  --linkLight: rgb(27, 130, 227);
  --linkDark: rgb(62, 158, 241);
  --linkVisitedLight: rgb(177, 45, 203);
  --linkVisitedDark:rgb(206, 61, 235);
  // layout
  --col: calc(100dvw/12);
}

$width: calc(30 * var(--type-0));
$breakpoint: 480px;

%font--display-regular {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%font--display-medium {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%font--display-black {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal;
}

%font--text-regular {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font--text-regular--italic {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: italic;
}

%font--text-italic {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-size: var(--type-0);
  @extend %font--text-regular;
  display: grid;
  place-content: center;
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  @include light-dark(color, var(--contentPrimaryLight), var(--contentPrimaryDark));
}

h1, h2, h3, h4, h5, h6, p, span {
  font-size: 1em;
  // line-height: 1.5em;
  font-weight: unset;  
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:last-child {
  margin-bottom: 0;
}

p, h1, h2, h3, h4, h5, h6, .note-title {  
  max-width: $width;
  text-wrap: balance;
}

p {
  margin: 0 auto 1em auto;
}

a {
  @include light-dark(color, var(--contentPrimaryLight), var(--contentPrimaryDark));
  p & {
    @include light-dark(color, var(--linkLight), var(--linkDark));
    &:visited {
      @include light-dark(color, var(--linkVisitedLight), var(--linkVisitedDark));
    }
  }
}

.note__header {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto 1.25em auto;
}

@for $i from 1 through 6 {
  .heading--#{$i} {
    // margin: 0 0 .25em 0;
    font-size: var(--type-#{$i * 6 - $i});
    @extend %font--display-medium;
  }
}

.heading--1 {
  line-height: 1em;
  margin: 0 0 .25em 0;
}

.page__title {
  @extend .heading--1;
  @extend %font--display-black;
}

.page__subtitle {
  font-size: var(--type--1);
  @extend %font--text-regular;
  display: block;
  @include light-dark(color, var(--contentSecondaryLight), var(--contentSecondaryDark));

}

.note__body p {
  line-height: 1.5em;
}

.album__album-photos {
  display: flex;
  flex-direction: column;
  gap: calc(var(--col) / 2);
  padding: 0 calc(var(--col) / 2);
  box-sizing: content-box;
}

.album__album-photos__photo {
  display: flex;
  place-content: center;
  picture {
    display: block;
    aspect-ratio: var(--ratio);
    background-color: var(--color);
    height: 100%;
    max-height: calc(100dvh - 32px);
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

  } 
}

.backlinks {
  max-width: $width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--type--2);
  .note__body + & {
    margin-top: 1em;
  }
}

.backlinks__title {
  font-size: var(--type--1);
  @extend %font--display-medium;
  @include light-dark(color, var(--contentSecondaryLight), var(--contentSecondaryDark));
}

.backlinks__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--type-0);
  flex-wrap: wrap;
}

.backlink__container {
  @media screen and (min-width: 415px) {
    width: calc(50% - var(--type-0));
  }
}

.backlink {
  display: inline-flex;
  flex-direction: column;
  gap: var(--type--2);
  font-size: var(--type--2);
  border-radius: 12px;
  padding: 12px 16px;
  overflow: hidden;
  position: relative; 
  margin: 0;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    @include light-dark(background-color, var(--contentPrimaryLight), var(--contentPrimaryDark));
    opacity: var(--opacity, 0.05);
    z-index: -10;
  }
  &:hover {
    --opacity: 0.075;
  }
  &:active {
    --opacity: 0.1;
  }
}

.backlink__title {
  font-size: var(--type--1);
  font-weight: 600;
}

.backlink__title, .backlink__preview {
  @include light-dark(color, var(--contentPrimaryLight), var(--contentPrimaryDark));
}

.backlink__preview {
  @media screen and (min-width: 415px) {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
  }
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.note-group__month {
  display: flex;
  flex-direction: row-reverse;
}

.note__month {
  width: 100%;
}

.note__month, .note__year {
  @extend .heading--6;
  @extend %font--display-medium;
}

.note__year, .note__month, .note__day {
  color: var(--contentSecondaryLight);
}

$dur: .2s;

%listItemBackground {
  &::before {
    content: '';
    position: absolute;
    inset: -6px -8px;
    border-radius: .6em;
    @include light-dark(background-color, var(--contentPrimaryLight), var(--contentPrimaryDark));
    opacity: 0;
    transform: scale(.99);
    filter: blur(.3em);
    $dur: $dur * 4;
    transition: $dur transform ease-out, $dur opacity ease-out, $dur filter ease-out;
  }
}

%listItemBackgroundHover {
  &::before {
    opacity: 0.05;
    filter: blur(0);
    transform: scale(1);
    transition-duration: math.div($dur, 4);
  }
}

$dotDiameter: 8px;

.note__link {
  display: grid;
  grid-template-columns: min-content auto $dotDiameter;
  text-decoration: none;
  gap: 5px; // the size of a monospaced space character in Neue Haas Grotesk
  align-items: center;
  @include light-dark(color, var(--contentPrimaryLight), var(--contentPrimaryDark));
  position: relative;
  @extend %listItemBackground;
  // .note:nth-child(2) == first note in list. Don't want someone to open it and see all "unread" badges.
  .note:nth-child(2) &::after {
    content: '';
    width: $dotDiameter;
    height: $dotDiameter;
    display: block;
    border-radius: math.div($dotDiameter, 2);
    @include light-dark(background-color, var(--linkLight), var(--linkDark))
  }
  .note:nth-child(2) &:visited::before {
    background-color: Canvas;
  }
  &::after, .note__day, .note__title {
    transition: $dur transform ease-out
  }
  
  &:hover {
    @extend %listItemBackgroundHover;
    .note__day, .note__title {
      transform: translateX(.25ex);
    }
    &::after {
      transform: translateX(-.25ex);
    }
    .note__day, .note__title, &::after {
      transition-duration: math.div($dur, 4); 
    }
  }
}

.note__day {
  font-variant-numeric: tabular-nums;
  text-decoration: none;
}

.page {
  display: grid;
}

.page--notes {
  grid-template-columns: min-content minmax(320px, max-content);
  gap: 1.2em;
  padding: var(--type-0);
  @media (width <= $breakpoint) {
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
  }
}

.page--note {
  padding: var(--col);
}

.nav__title {
  @extend %font--display-black;
}

.navigation__items {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: flex-end;
  @media (width <= $breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__link {
  text-decoration: none;
  position: relative;
  @extend %listItemBackground;
  transition: $dur transform ease-out;
  display: inline-block;
  &:hover {
    @extend %listItemBackgroundHover;
    transform: translateX(-.25ex);
    transition: $dur transform ease-out;
  }
}
