svg, svg path {
  fill: currentcolor;
}

svg .icon-density--1 {
  display: block;
  @media (-webkit-min-device-pixel-ratio: 2) {
    display: none;
  }
}
svg .icon-density--2 {
  display: none;
  @media (-webkit-min-device-pixel-ratio: 2) {
    display: block;
  }
}