@use 'fonts';
@forward 'fonts';

@mixin textStyles {
  @include fonts.placeholders;
  
  @for $i from 1 through 6 {
    .heading--#{$i} {
      // margin: 0 0 .25em 0;
      font-size: var(--type-#{$i * 6 - $i});
      @extend %font--display-medium;
    }
  }
  
  .heading--1 {
    line-height: 1em;
    margin: 0 0 .25em 0;
  }
  
  .page__title {
    @extend .heading--1;
    @extend %font--display-medium;
  }
  
  .page__subtitle {
    font-size: var(--type--1);
    @extend %font--text-regular;
    display: block;
    color: var(--contentSecondaryColor);
  }
  
  .note__body > *, .pen__body > * {
    line-height: 1.5em;
    &:not(:last-child) {
      margin: 0 auto 1em auto;
    }
  }
  
  .note__month, .note__year {
    @extend .heading--6;
    @extend %font--display-medium;
  }
  
  .note__year, .note__month, .note__day {
    color: var(--contentSecondaryColor);
  }
}
