@use 'fonts';
@use '../size/aliases' as tokens;
@forward 'fonts';

@mixin textStyles {
  @include fonts.placeholders;

  a {
    color: var(--contentPrimaryColor);
    p &, .page-info & {
      color: var(--linkColor);
      &:visited {
        color: var(--linkVisitedColor);
      }
    }
  }

  h1, h2, h3, h4, h5, h6, .note-title, p {  
    max-width: tokens.$width;
  }

  h1, h2, h3, h4, h5, h6, .note-title {  
    text-wrap: balance;
  }

  p {
    margin: 0 auto 1em auto;
    text-wrap: pretty;
  }

  @for $i from 1 through 6 {
    .heading--#{$i} {
      // margin: 0 0 .25em 0;
      font-size: var(--type-#{$i * 6 - $i});
      @extend %font--display-medium;
    }
  }
  
  .heading--1 {
    line-height: 1em;
    margin: 0 0 .25em 0;
  }
  
  .page__title {
    @extend .heading--1;
    @extend %font--display-black;
  }
  
  .page__subtitle {
    font-size: var(--type--1);
    @extend %font--text-regular;
    display: block;
    color: var(--contentSecondaryColor);
  }
  
  .note__body > *, .pen__body > * {
    line-height: 1.5em;
    &:not(:last-child) {
      margin: 0 auto 1em auto;
    }
  }
  
  .note__month, .note__year {
    @extend .heading--6;
    @extend %font--display-medium;
  }
  
  .note__year, .note__month, .note__day {
    color: var(--contentSecondaryColor);
  }

  .backlink__title {
    font-size: var(--type--1);
    @extend %font--display-medium;
  }
  
  .backlink__title, .backlink__preview {
    color: var(--contentPrimaryColor);
  }
}
