---
date: 2026-03-01T06:00
author: Wil Nichols
altTitle: "My Internet Yard Sale"
inputFilter: Pointer
tags:
  - "Client/Personal Project"
  - "Design/Internet Yard Sale"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The index page for our yardsale.",
  screen={
    desk: {
      dark: "work-screens/internet-yard-sale--01--dark--desk",
      light: "work-screens/internet-yard-sale--01--light--desk"
    }
  }
) }}
<div class="content">
  <p>Moving out of ATX, we sold items on Marketplace and Craigslist, but also needed a single rollup that we could send around. It’s a simple site containing an index and detail page, still <a href="https://nicholshiggins.com" target="blank">viewable</a>.</p>
</div>
  