---
date: 2026-03-01T05:00
author: Wil Nichols
altTitle: "My Internet Yard Sale"
inputFilter: Pointer
tags:
  - "Client/Personal Project"
  - "Design/Internet Yard Sale"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The detail page for our yardsale.",
  screen={
    desk: {
      dark: "work-screens/internet-yard-sale--02--dark--desk",
      light: "work-screens/internet-yard-sale--02--light--desk"
    }
  }
) }}
<div class="content">
  <p>Detail pages were an expanded version of the index’s item card, containing photos, original listings, related items, and a CTA.</p>
</div>
  