---
date: 2026-03-01T01:00
author: Wil Nichols
altTitle: "My Internet Yard Sale"
inputFilter: Coarse
tags:
  - "Client/Personal Project"
  - "Design/Internet Yard Sale"
---
{% from "work-shot.njk" import workShot %}
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The desktop detail page for our yardsale.",
  screen={
    desk: {
      dark: "work-screens/internet-yard-sale--04--dark--mobile",
      light: "work-screens/internet-yard-sale--04--light--mobile"
    }
  }
) }}
<div class="content">
  <p>The detail page adapted easily as well.</p>
</div>
  