---
date: 2019-07-01T01:00
author: Wil Nichols
altTitle: "The Minte’s client apps"
tags:
  - "Client/The Minte"
  - "Design/Minte Visuals"
---

<picture class="picture">
<source
  media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
  type="image/webp"
  srcset="
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-mobile--dark@2x.webp 2x,
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-mobile--dark@3x.webp 3x
  "
/>
<source
  media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
  type="image/webp"
  srcset="
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-mobile--light@2x.webp 2x,
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-mobile--light@3x.webp 3x
  "
/>
  <source
    media="(prefers-color-scheme: dark)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--dark.webp 1x,
      https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--dark@2x.webp 2x
    "
  />
  <source
    media="(prefers-color-scheme: light)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--light.webp 1x,
      https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--light@2x.webp 2x
    "
  />
<img
  src="https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--light@2x.webp"
  srcset="
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--light.webp 1x,
    https://cdn.wilnichols.com/vid/minte-visuals/minte-themes-desktop--light@2x.webp 2x
  "
  alt="The Minte’s desktop app and mobile app in the light and dark themes respectively."
  loading="lazy"
  decoding="async"
/>
</picture>
<div class="content">
  <p>The mobile apps were a later-project addition where we had entirely focused on web. I’d’ve loved the opportunity to pursue a native interface.</p>
</div>
  