---
date: 2019-06-01T01:00
author: Wil Nichols
altTitle: "Navigation & drag-and-drop testing"
tags:
  - "Client/The Minte"
  - "Design/Minte Usability Testing"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A prototype I created to show how we could maintain a current talk-context outside of the foreground screen.",
  frame={
    desk: "work-device-compositions/iPhone-SE--black--desk--01",
    mobile: "work-device-compositions/iPhone-SE--black--mobile--01"
  },
  video={
    src: "vid/minte-usability/minte-usability-single",
    width: 375,
    height: 810,
    dens: [1, 2]
  },
  device="iPhone-8"
) }}
<div class="content">
  <p>This flow was much less risky, but was included in the prototype for comparison.</p>
</div>
  