---
date: 2019-04-17T02:00
author: Wil Nichols
altTitle: "Navigational Transitions"
tags:
  - "Client/The Minte"
  - "Design/Navigational Transitions"
---

<div class="video-container">
  {# Desktop 1x #}
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="1440"
    height="960"
    poster="/assets/img/poster.gif"
    class="video-1x video--desktop"
    >
      <source 
        media="(prefers-color-scheme: dark)"
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--dark.mp4">
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--light.mp4">
  </video>
  {# Desktop 2x & 3x #}
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="1440"
    height="960"
    poster="/assets/img/poster.gif"
    class="video-2x video-3x video--desktop"
    >
      <source 
        media="(prefers-color-scheme: dark)"
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--dark@2x.mp4">
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--light@2x.mp4">
  </video>
  {# Mobile 1x #}
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="720"
    height="1080"
    poster="/assets/img/poster.gif"
    class="video-1x video--mobile"
    >
      <source 
        media="(prefers-color-scheme: dark)"
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--mobile--dark.mp4">
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--mobile--light.mp4">
  </video>
  {# Mobile 2x & 3x #}
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="720"
    height="1080"
    poster="/assets/img/poster.gif"
    class="video-2x video-3x video--mobile"
    >
      <source 
        media="(prefers-color-scheme: dark)"
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--mobile--dark@2x.mp4">
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-state-transition/minte-state-transition--mobile--light@2x.mp4">
  </video>
</div>
<div class="content">
  <p>I created this prototype to demonstrate a main/detail navigation in The Minte’s desktop scheduling screen.</p>
</div>
  