---
date: 2019-06-01T02:00
author: Wil Nichols
altTitle: "Navigation & drag-and-drop testing"
tags:
  - "Client/The Minte"
  - "Design/Minte Usability Testing"
---

<div class="video-container">
<picture class="picture">
  <source
    media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray--mobile.webp 1x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray--mobile@2x.webp 2x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray--mobile@3x.webp 3x
    "
  />
  <source
    media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray--mobile.webp 1x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray--mobile@2x.webp 2x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray--mobile@3x.webp 3x
    "
  />
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray.webp 1x,
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray@2x.webp 2x,
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-dark-gray@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray.webp 1x,
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray@2x.webp 2x,
        https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray@3x.webp 3x
      "
    />
  <img
    src="https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray@2x.webp"
    srcset="
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray.webp 1x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray@2x.webp 2x,
      https://cdn.wilnichols.com/vid/frames/iphone-8/iphone-8-on-light-gray@3x.webp 3x
    "
    alt="The prototype was used to demonstrate the proposed scheduling wizards."
    loading="lazy"
    decoding="async"
  />

</picture>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="667"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-8 video-1x"
    >
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-usability/minte-usability-reccuring.mp4">
  </video>
  {# Mobile 2x & 3x #}
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="667"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-8 video-2x video-3x"
    >
      <source 
        type="video/mp4"
        src="https://cdn.wilnichols.com/vid/minte-usability/minte-usability-reccuring@2x.mp4">
  </video>
</div>
<div class="content">
  <p>We took time testing The Minte’s single-clean and package scheduling flows, anticipating that packges’ drag-and-drop would need validation.</p>
</div>
  