---
date: 2019-07-01T01:00
author: Wil Nichols
altTitle: "The Minte’s client apps"
tags:
  - "Client/The Minte"
  - "Design/Minte Visuals"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The Minte’s dmobile app",
  frame={
    desk: "work-device-compositions/iPhone-8--gold--desk--03b"
  },
  screen={
    desk: "work-screens/minte-themes--01--desk",
    mobile: "work-screens/minte-themes--01--mobile"
  }
) }}
<div class="content">
  <p>The mobile apps were a later-project addition where we had entirely focused on web. I’d’ve loved the opportunity to pursue a native interface as opposed to a wrapper, but this was the fastest means to a cross-platform build.</p>
</div>
  