---
date: 2015-03-01T01:00
author: Wil Nichols
altTitle: "vEvi"
tags:
  - "Client/vEvi"
  - "Freelance/vEvi"
  - "Design/Remote Control"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The original remote control UI, before my involvement.",
  frame={
    desk: "work-device-compositions/iPhone-8--gold--desk--01",
    mobile: "work-device-compositions/iPhone-8--gold--mobile--01"
  },
  screen={
    desk: { 
      src: "work-screens/vEvi-2--original", 
      dens: [1, 2] 
    },
    mobile: { 
      src: "work-screens/vEvi-2--original", 
      dens: [1, 2]
     }
  },
  device="iPhone-8"
) }}
<div class="content">
  <p>This screen and a marketing brochure were the extent of priming material provided to me.</p>
</div>