---
date: 2015-03-01T02:00
author: Wil Nichols
altTitle: "vEvi"
tags:
  - "Client/vEvi"
  - "Freelance/vEvi"
  - "Design/Remote Control"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="This prototype demonstrates an understated talk button morphing in the familiar UI.",
  frame={
    desk: {
      dark: "work-device-compositions/iPhone-SE--black--desk--01",
      light: "work-device-compositions/iPhone-8--gold--desk--01"
    },
    mobile: {
      dark: "work-device-compositions/iPhone-SE--black--mobile--01",
      light: "work-device-compositions/iPhone-8--gold--mobile--01"
    }
  },
  video={
    src: "design/vEvi-prototype",
    width: 667,
    height: 375,
    dens: [1, 2]
  },
  device="iPhone-8"
) }}
<div class="content">
  <p>I was hired by a small Austin company to take their comps through UI iterations and to a usable prototype. They wanted to ship a remote-control for an adult device, requiring impaired and often hands-free app use. The solution relied both extensively on haptics, bright colors, and ambient, reflective light to communicate registered state.</p>
</div>
  