---
date: 2015-03-01T01:00
author: Wil Nichols
altTitle: "vEvi"
tags:
  - "Client/vEvi"
  - "Freelance/vEvi"
  - "Design/Remote Control"
---

<picture class="picture">
  <source
    media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/vEvi-original-2--mobile--dark.webp 1x,
      https://cdn.wilnichols.com/design/vEvi-original-2--mobile--dark@2x.webp 2x
    "
  />
  <source
    media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/vEvi-original-2--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/vEvi-original-2--mobile--light@2x.webp 2x
    "
  />
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/vEvi-original-2--dark.webp 1x,
        https://cdn.wilnichols.com/design/vEvi-original-2--dark@2x.webp 2x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/vEvi-original-2--light.webp 1x,
        https://cdn.wilnichols.com/design/vEvi-original-2--light@2x.webp 2x
      "
    />
  <img
    src="https://cdn.wilnichols.com/design/vEvi-original-2--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/vEvi-original-2--light.webp 1x,
      https://cdn.wilnichols.com/design/vEvi-original-2--light@2x.webp 2x
    "
    alt="This prototype demonstrates an understated talk button morphing in the familiar UI."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>This screen and a marketing brochure were the extent of priming material provided to me.</p>
</div>