---
date: 2015-03-01T02:00
author: Wil Nichols
altTitle: "vEvi"
tags:
  - "Client/vEvi"
  - "Freelance/vEvi"
  - "Design/Remote Control"
---

<div class="video-container">
  <picture class="picture">
    <source
      media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/vEvi-prototype--mobile--light@3x.webp 3x
      "
    />
      <source
        media="(prefers-color-scheme: dark)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/vEvi-prototype--dark.webp 1x,
          https://cdn.wilnichols.com/design/vEvi-prototype--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/vEvi-prototype--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/vEvi-prototype--light.webp 1x,
          https://cdn.wilnichols.com/design/vEvi-prototype--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/vEvi-prototype--light@3x.webp 3x
        "
      />
    <img
      src="https://cdn.wilnichols.com/design/vEvi-prototype--light@2x.webp"
      srcset="
        https://cdn.wilnichols.com/design/vEvi-prototype--light.webp 1x,
        https://cdn.wilnichols.com/design/vEvi-prototype--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/vEvi-prototype--light@3x.webp 3x
      "
      alt="This prototype demonstrates an understated talk button morphing in the familiar UI."
      loading="lazy"
      decoding="async"
    />
  </picture>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="667"
    height="375"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-8 video-1x"
    >
      <source src="https://cdn.wilnichols.com/design/vEvi-prototype.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="667"
    height="375"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-8 video-2x video-3x"
    >
      <source src="https://cdn.wilnichols.com/design/vEvi-prototype@2x.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>I was hired by a small Austin company to take their comps through UI iterations and to a usable prototype. They wanted to ship a remote-control for an adult device, requiring impaired and often hands-free app use. The solution relied both extensively on haptics, bright colors, and ambient, reflective light to communicate registered state.</p>
</div>
  