---
date: 2024-10-01T01:00
author: Wil Nichols
altTitle: "Wedding Invitations"
inputFilter: Coarse
tags:
  - "Client/Personal Project"
  - "Design/Wedding Invitations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The RSVP flow.",
  screen={
    mobile: {
      dark: "work-screens/wedding-invitations--04--dark--mobile",
      light: "work-screens/wedding-invitations--04--light--mobile"
    }
  }
) }}
<div class="content">
  <p>Following form submission, the homepage re-rendered depending on their response.</p>
</div>
  