---
date: 2024-10-01T03:00
author: Wil Nichols
altTitle: "Wedding Invitations"
tags:
  - "Client/Personal Project"
  - "Design/Wedding Invitations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The site’s refernce pages: Home, Program, Q&A, and Registry.",
  screen={
    desk: {
      dark: "work-screens/wedding-invitations--02--dark--desk",
      light: "work-screens/wedding-invitations--02--light--desk"
    },
    mobile: {
      dark: "work-screens/wedding-invitations--02--dark--mobile",
      light: "work-screens/wedding-invitations--02--light--mobile"
    }
  }
) }}
<div class="content">
  <p>The site was mobile-optimized and reused the same layout on desktop, clamped to a max-width. While the dark theme fit our aesthetic less, it’s a kindness to viewers.</p>
</div>
  