---
date: 2025-11-01T10:00
author: Wil Nichols
altTitle: "In-Person Translations"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A prototype of Zello’s Live Translations feature.",
  frame={
    desk: "work-device-compositions/iPhone-15-Pro--blue--desk--02,
    mobile: "work-device-compositions/iPhone-15-Pro--blue--mobile--02"
  }
) }}
<div class="video-container">
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-1x"
    >
      <source src="https://cdn.dznr.me/design/zello-in-person-translations-prototype-1.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-2x"
    >
      <source src="https://cdn.dznr.me/design/zello-in-person-translations-prototype-1@2x.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-3x"
    >
      <source src="https://cdn.dznr.me/design/zello-in-person-translations-prototype-1@3x.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>Two competing concepts for a live-translation interface were competing: single vs multiplayer. I used this prototype to demonstrate how one’s smartphone could be used between two individuals. Unmute to hear my lovely voice.</p>
</div>
  