---
date: 2025-11-01T06:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Pointer
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A portrait screen showing original and translated text.",
  frame={
    desk: "work-device-compositions/Android-Zello--desk--02"
  },
  screen={
    desk: "work-screens/zello-in-person-translations--05--desk"
  }
) }}

<div class="content">
  <p>It was then decided to pursue a single orientation.</p>
</div>
  