---
date: 2015-10-01T01:00
author: Wil Nichols
altTitle: "Messaging & Talk"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Zello for iOS 9"
---

<picture class="picture">
  <source
    media="(pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="https://cdn.wilnichols.com/design/zello-ios-themes-02-mobile@2x.webp 2x"
  />
  <source
    type="image/webp"
    srcset="https://cdn.wilnichols.com/design/zello-ios-themes-02-desktop@2x.webp 2x"
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-ios-themes-02-desktop@2x.webp"
    alt="The previous Zello iOS appearance."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>This was Zello on iOS before my visual update.</p>
</div>
  