---
date: 2025-11-01T01:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture class="picture">
  <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light@3x.webp 3x
      "
    />
  
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--mobile--light@3x.webp 3x
    "
    alt="A portrait phone showing a primary and secondary user’s languages."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>The two-player UI eventually evolved into a fullscreen positioned for two individuals facing each other.</p>
</div>
  