---
date: 2025-11-01T10:00
author: Wil Nichols
altTitle: "In-Person Translations"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A prototype of Zello’s Live Translations feature.",
  frame={
    desk: "work-device-compositions/iPhone-15-Pro--blue--desk--02",
    mobile: "work-device-compositions/iPhone-15-Pro--blue--mobile--02"
  },
  video={
    src: "design/zello-in-person-translations-prototype-1",
    width: 752,
    height: 392
  },
  device="iPhone-14-Pro--landscape"
) }}
<div class="content">
  <p>Two competing concepts for a live-translation interface were competing: single vs multiplayer. I used this prototype to demonstrate how one’s smartphone could be used between two individuals. Unmute to hear my lovely voice.</p>
</div>
  