---
date: 2025-03-01T01:00
author: Wil Nichols
altTitle: "Discoverable Talk Screen Navigation"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Discoverable Talk Screen Navigation"
---

{% from "work-shot.njk" import workShot %}
{{ workShot(
  frame={
    desk: "work-device-compositions/iPhone-14-Pro--silver--desk--01",
    mobile: "work-device-compositions/iPhone-14-Pro--silver--mobile--01"
  },
  video={
    src: "vid/talk-screen-header/talk-screen-header",
    width: 375,
    height: 810
  },
  device="iPhone-14-Pro--portrait"
) }}

<div class="content">
  <p>Few users are aware that they can page over Zello’s talk screen header to navgiate to the next or previous contact, despite it being the app’s most-used screen. This design and proof of concept addreses the behavior's discoverability.</p>
</div>
  