---
date: 2025-03-01T01:00
author: Wil Nichols
altTitle: "Discoverable Talk Screen Navigation"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Discoverable Talk Screen Navigation"
---

<div class="video-container">
  <picture class="picture">
    <source
      media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light@3x.webp 3x
      "
    />
      <source
        media="(prefers-color-scheme: dark)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark.webp 1x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@3x.webp 3x
        "
      />
      <img
        src="https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@3x.webp 3x
        "
        alt="A prototype demonstrating a discoverable swipe gesture over the Zello talk screen header."
        loading="lazy"
        decoding="async"
      />
  </picture>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-1x"
    >
      <source src="https://cdn.wilnichols.com/vid/talk-screen-header/talk-screen-header@2x.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-2x"
    >
      <source src="https://cdn.wilnichols.com/vid/talk-screen-header/talk-screen-header.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-3x"
    >
      <source src="https://cdn.wilnichols.com/vid/talk-screen-header/talk-screen-header@3x.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>Few users are aware that they can page over Zello’s talk screen header to navgiate to the next or previous contact, despite it being the app’s most-used screen. This design and proof of concept addreses the behavior's discoverability.</p>
</div>
  