---
date: 2023-01-01T01:00
author: Wil Nichols
altTitle: "Zello Instant Demo"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Instant Demo"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A mobile screenshot for Zello’s instant demo, in the light theme.",
  screen={
    mobile: {
      dark: "work-screens/zello-instant-demo--01--dark--mobile",
      light: "work-screens/zello-instant-demo--01--light--mobile"
    }
  }
) }}
<div class="content">
  <p>In our 2023 hackathon, Alex G, Mike Kiurshin, and I partnered to create an alternate online Zello Work sign up which we split test the following Summer. Rather than a signup form and then exposure to our full work platform, this demo was enabled with users with a single click, giving them exposure to a sandbox-like setup.</p>
</div>
