---
date: 2023-05-01T00:00
author: Wil Nichols
altTitle: "Zello Bridge"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Bridge"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A desktop screenshot of Zello Bridge, in the dark theme.",
  screen={
    mobile: {
      dark: "work-screens/zello-bridge--02--dark--mobile",
      light: "work-screens/zello-bridge--02--light--light"
    }
  }
) }}
<div class="content">
  <p>While Zello Bridge on mobile is more useful for monitoring connections, on desktop the user can create new connections, or drag-and-drop configuration files from our legacy PC app.</p>
</div>