---
date: 2025-12-01T01:00
author: Wil Nichols
altTitle: "Main Menu"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Main Menu"
---

{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="Zello iOS’s Main Menu",
  frame={
    desk: "work-device-compositions/iPhone-15-Pro--white--desk--03",
    mobile: "work-device-compositions/iPhone-15-Pro--white--mobile--03"
  },
  screen={
    desk: "work-screens/zello-main-menu--01--desk",
    mobile: {
      dark: "work-screens/zello-main-menu--01--dark--mobile",
      light: "work-screens/zello-main-menu--01--light--mobile"
    }
  }
) }}
<div class="content">
  <p>I’ve had a few opportunities this year for less-impactful UI improvements in the Zello app. These designs have been floating around since we added the Android main menu much earlier in the year, and I had time at the start of December to complete this in dev.</p>
</div>
  