---
date: 2025-11-01T04:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A larger landscape screen showing large type.",
  frame={
    mobile: "work-device-compositions/Android-Zello--mobile--05"
  },
  screen={
    mobile: "work-screens/zello-in-person-translations--03--mobile"
  }
) }}
<div class="content">
  <p>No, we couldn’t. I quickly pivoted to a two-player interface optimizing for legibility.</p>
</div>
  