---
date: 2025-11-01T06:00
author: Wil Nichols
altTitle: "In-Person Translations"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/In-Person Translations"
---
<div class="video-container">
  <picture class="picture">
    <source
        media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--mobile--dark.webp 1x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--mobile--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--mobile--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-in-person-translations-1b--mobile--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1b--mobile--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1b--mobile--light@3x.webp 3x
        "
      />
    <source
        media="(prefers-color-scheme: dark)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--dark.webp 1x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-in-person-translations-1--light@3x.webp 3x
        "
      />

    <img
      src="https://cdn.wilnichols.com/design/zello-in-person-translations-1--light@2x.webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-1--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-1--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-1--light@3x.webp 3x
      "
      alt="A prototype I created to demonstrate a two-player live translation interface."
      loading="lazy"
      decoding="async"
    />
  </picture>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-1x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-in-person-translations-prototype-1.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-2x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-in-person-translations-prototype-1@2x.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="752"
    height="392"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--landscape video-3x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-in-person-translations-prototype-1@3x.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>Two competing concepts for a live-translation interface were competing: single vs multiplayer. I used this prototype to demonstrate how one’s smartphone could be used between two individuals. Unmute to hear my lovely voice.</p>
</div>
  