---
date: 2017-11-01T02:00
author: Wil Nichols
altTitle: "Talk and History Navigation"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Talk and History Navigation"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="This prototype demonstrates a gestural navigation, and interactions between the Zello Talk screen and History screen.",
  frame={
    desk: "work-device-compositions/iPhone-SE--black--desk--01",
    mobile: "work-device-compositions/iPhone-SE--black--mobile--01"
  },
  video={
    src: "design/zello-talk-history-gesture",
    width: 667,
    height: 375,
    dens: [1, 2]
  },
  device="iPhone-8"
) }}
<div class="content">
  <p>Building on earlier work, I wanted to demonstrate how a new tabbed navigation could coincide with a current contact toolbar.</p>
</div>
  