---
date: 2025-12-01T00:00
author: Wil Nichols
altTitle: "Main Menu"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Main Menu"
---

{# Desktop #}
<div class="picture">
  {% include "../../_includes/unique/zello-main-menu-icons.svg" %}
  {% include "../../_includes/unique/zello-main-menu-icons--mobile.svg" %}
</div>
<div class="content">
  <p>The icons used belong to a library that Sam Valdez and I have gradually added to since 2022.</p>
</div>
  