---
date: 2026-08-02T02:00
author: Wil Nichols & Sam Valdez
altTitle: "Zello Icon Library"
tags:
  - "Client/Zello"
  - "Zello/Zello Icon Library"
  - "Design/Zello Icon Library"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A stylized preview of Zello’s bespoke icon library.",
  screen={
    desk: {
      dark: "work-screens/zello-ui-icons-01--desk--dark",
      light: "work-screens/zello-ui-icons-01--desk--light"
    },
    mobile: {
      dark: "work-screens/zello-ui-icons-01--mobile--dark",
      light: "work-screens/zello-ui-icons-01--mobile--light"
    }
  }
) }}
<div class="content">
  <p><a fred="https://www.linkedin.com/in/valdezsamanthaj/">Sam Valdez</a> and I have built and maintained separate UI and marketing icon libraries over the last five years. On it’s own it looks like a large undertaking, it was first bootstrapped in our 2021 rebrand, and since then we’ve added as convenient.</p>
</div>
  