---
date: 2015-10-01T01:00
author: Wil Nichols
altTitle: "Messaging & Talk"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Zello for iOS 9"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="The previous Zello iOS appearance.",
  frame={
    desk: "work-device-compositions/iPhone-8--gold--desk--04",
    mobile: "work-device-compositions/iPhone-8--gold--mobile--04"
  },
  screen={
    desk: "work-screens/zello-ios-themes--02--desk",
    mobile: {
      src: "work-screens/zello-ios-themes--02--mobile",
      dens: [1, 2]
    }
  }
) }}
<div class="content">
  <p>This was Zello on iOS before my visual update.</p>
</div>
  