---
date: 2026-08-02T01:00
author: Wil Nichols & Sam Valdez
altTitle: "Zello Icon Library"
tags:
  - "Client/Zello"
  - "Zello/Zello Icon Library"
  - "Design/Zello Icon Library"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A stylized preview of Zello’s bespoke icon library.",
  screen={
    desk: "work-screens/zello-ui-icons-02--desk",
    mobile: "work-screens/zello-ui-icons-02--mobile"
  }
) }}
<div class="content">
  <p>The UI library specifically serves vector glyphs at 24, 16, and 12pt canvas sizes, and often in both outlined and filled styles. Adding only icons when necessary, we left the occasional placeholder to fill between projects.</p>
</div>
  