---
date: 2025-11-01T03:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="Two novel landscape screens with larger type.",
  frame={
    mobile: "work-device-compositions/Android-Zello--mobile--06"
  },
  screen={
    mobile: "work-screens/zello-in-person-translations--05--mobile"
  }
) }}
<div class="content">
  <p>We flirted with more interesting — in this case, “AI-powered” — visuals.</p>
</div>
  