---
date: 2025-11-01T07:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Pointer
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture class="picture">
  <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--light@3x.webp 3x
      "
    />
  
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-4--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--light@3x.webp 3x
    "
    alt="A landscape and portrait version of the same screen."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>We continued pursuing the two-player model, optimizing for users side-by-side or facing each other The darker palette created the most visible text, presumably on OLED displays.</p>
</div>
  