---
date: 2025-11-01T02:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture class="picture">
  <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light@3x.webp 3x
      "
    />
  
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-4--mobile--light@3x.webp 3x
    "
    alt="Two novel landscape screens with larger type."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>We flirted with more interesting — in this case, “AI-powered” — visuals.</p>
</div>
  