---
date: 2025-11-01T08:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Pointer
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="Two novel landscape screens with larger type.",
  frame={
    desk: "work-device-compositions/Android-Zello--desk--05"
  },
  screen={
    desk: "work-screens/zello-in-person-translations--03--desk"
  }
) }}
<div class="content">
  <p>Switching to a landscape view allowed for larger text, more legible when holding a phone between two users.</p>
</div>
  