---
date: 2025-11-01T01:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A portrait phone showing a primary and secondary user’s languages.",
  frame={
    desk: "work-device-compositions/Android-Zello--mobile--03"
  },
  screen={
    desk: "work-screens/zello-in-person-translations--05--mobile"
  }
) }}
<div class="content">
  <p>We eventually settled on a portrait screen for two users abreast, not opposite each other.</p>
</div>
  