---
date: 2024-03-16T01:00
author: Wil Nichols
altTitle: "Voice Commands via Whisper Feasibility Prototype"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Voice Commands via Whisper Feasibility Prototype"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  frame={
    desk: "work-device-compositions/iPhone-14-Pro--silver--desk--01",
    mobile: "work-device-compositions/iPhone-14-Pro--silver--mobile--01"
  },
  video={
    src: "vid/voice-commands-prototype/voice-commands-prototype",
    width: 375,
    height: 810
  },
  device="iPhone-14-Pro--portrait"
) }}

<div class="content">
  <p>After brainstorming methods to ship a voice-commands feature on our Android app, a contributor suggested we use Whisper to recognize voice. I built this prototype to test to what degree Whisper would, out-of-the-box, match our proposed commands and realistic contact names, and wheher I needed to apply a phonetic algorithm to distinguish similar names. The prototype UI reflects which command and contact or channel name Whisper interprets, and returns us Whisper’s trancscription of your speech.</p>
</div>
  