---
date: 2023-05-01T01:00
author: Wil Nichols
altTitle: "Zello Bridge"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Bridge"
---

<picture class="picture">
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light@3x.webp 3x
      "
    />

  <img
    src="https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-bridge-01--mobile--light@3x.webp 3x
    "
    alt="A mobile screenshot of Zello Bridge, in the light theme."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>Zello Bridge is a web-based application that allows users to link separate Zello channels, Zello Work channels, and select radio gateways like the <a href="https://zello.com/hardware/radio-gateways/" target="blank">JPS</a>. It can even be set up to allow you to use your desktop as a VOX-activated channel member.</p>
</div>