---
date: 2023-05-01T01:00
author: Wil Nichols
altTitle: "Zello Bridge"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Bridge"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A mobile screenshot of Zello Bridge, in the light theme.",
  screen={
    mobile: {
      dark: "work-screens/zello-bridge--01--dark--mobile",
      light: "work-screens/zello-bridge--01--light--light"
    }
  }
) }}
<div class="content">
  <p>Zello Bridge is a web-based application that allows users to link separate Zello channels, Zello Work channels, and select radio gateways like the <a href="https://zello.com/hardware/radio-gateways/" target="blank">JPS</a>. It can even be set up to allow you to use your desktop as a VOX-activated channel member.</p>
</div>