---
date: 2025-11-01T06:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Pointer
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture class="picture">
  <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-in-person-translations-5--light@3x.webp 3x
      "
    />
  
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-5--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-5--light@3x.webp 3x
    "
    alt="A portrait screen showing original and translated text."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>It was then decided to pursue a single orientation.</p>
</div>
  