---
date: 2017-11-01T01:00
author: Wil Nichols
altTitle: "Talk and History Navigation"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Talk and History Navigation"
---
<div class="video-container">
  <picture class="picture">
    <source
      media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--mobile--light@3x.webp 3x
      "
    />
      <source
        media="(prefers-color-scheme: dark)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-talk-history-2--dark.webp 1x,
          https://cdn.wilnichols.com/design/zello-talk-history-2--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-talk-history-2--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-talk-history-2--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-talk-history-2--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-talk-history-2--light@3x.webp 3x
        "
      />
    <img
      src="https://cdn.wilnichols.com/design/zello-talk-history-2--light@2x.webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-talk-history-2--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-talk-history-2--light@3x.webp 3x
      "
      alt="This prototype demonstrates an understated talk button morphing in the familiar UI."
      loading="lazy"
      decoding="async"
    />
  </picture>
  <video 
    autoplay
    loop
    playsinline
    controls
    muted
    preload="auto"
    width="667" 
    height="375"
    class="design-screen-recording--iPhone-8"
    >
      <source media="(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 120dpi)" src="https://cdn.wilnichols.com/design/zello-talk-from-history@2x.mp4" type="video/mp4">
      <source media="(-webkit-min-device-pixel-ratio: 1) and (min-resolution: 60dpi)" src="https://cdn.wilnichols.com/design/zello-talk-from-history.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>An earlier iteration of this idea explored a way to maintain our familiar talk button in a more compact format.</p>
</div>
  
