---
date: 2018-10-01T01:00
author: Wil Nichols
altTitle: "iOS 12 Themes"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Zello for iOS 12"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A light and dark theme designed for Zello iOS",
  frame={
    desk: "work-device-compositions/iPhone-11--yellow--desk--02",
    mobile: "work-device-compositions/iPhone-11--yellow--mobile--02"
  },
  screen={
    desk: "work-screens/zello-iOS-theme-2018--01--desk",
    mobile: "work-screens/zello-iOS-theme-2018--01--light--mobile"
  }
) }}
<div class="content">
  <p>As iOS matured and a consistent and quality OS appearance emerged, we significantly updated Zello’s appearance with a less opinionated, more maintainable look. At this point Zello lacked a strong visual brand, and we leaned into as “stock” of an appearance on our mobile platforms as we could.</p>
</div>