---
date: 2024-05-01T01:00
author: Wil Nichols
altTitle: "Configurable Talk Screen"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Configurable Talk Screen"
---
<div class="video-container">
  <picture class="picture">
    <source
      media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--mobile--light@3x.webp 3x
      "
    />
      <source
        media="(prefers-color-scheme: dark)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark.webp 1x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--dark@3x.webp 3x
        "
      />
      <source
        media="(prefers-color-scheme: light)"
        type="image/webp"
        srcset="
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light.webp 1x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp 2x,
          https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@3x.webp 3x
        "
      />
    <img
      src="https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-new-talk-screen-1--light@3x.webp 3x
      "
      alt="A prototype of a hypothetical Zello talk screen."
      loading="lazy"
      decoding="async"
    />
  </picture>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-1x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-talk-2024-q3-test.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-2x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-talk-2024-q3-test@2x.mp4" type="video/mp4">
  </video>
  <video 
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    width="375"
    height="810"
    poster="/assets/img/poster.gif"
    class="design-screen-recording--iPhone-14-Pro--portrait video-3x"
    >
      <source src="https://cdn.wilnichols.com/design/zello-talk-2024-q3-test@3x.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
  <p>I designed and build a prototype to test a few topical pain points, and walked next door to the Mean Eyed Cat to try it with randos and a beer. It specifically tested whether new users would figure out to connect to a channel, how they would use the talk button, and if they would use the configurable secondary-message button.</p>
</div>
  