---
date: 2025-11-01T09:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Pointer
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A modified talk screen and two history screens.",
  frame={
    desk: "work-device-compositions/Android-Zello--desk--04"
  },
  screen={
    desk: "work-screens/zello-in-person-translations--02--desk"
  }
) }}
<div class="content">
  <p>We started with assessing whether existing interfaces could be modified as a PoC, but determined that the UX failed to meet minimum acceptance.</p>
</div>
  