---
date: 2017-11-01T01:00
author: Wil Nichols
altTitle: "Talk and History Navigation"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Talk and History Navigation"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="This prototype demonstrates an understated talk button morphing in the familiar UI.",
  frame={
    desk: "work-device-compositions/iPhone-SE--black--desk--01",
    mobile: "work-device-compositions/iPhone-SE--black--mobile--01"
  },
  video={
    src: "design/zello-talk-from-history",
    width: 667,
    height: 375,
    dens: [1, 2]
  },
  device="iPhone-8"
) }}
<div class="content">
  <p>An earlier iteration of this idea explored a way to maintain our familiar talk button in a more compact format.</p>
</div>
  
