---
date: 2025-11-01T05:00
author: Wil Nichols
altTitle: "In-Person Translations"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---
{% from "work-shot.njk" import workShot %}
{{ workShot(
  alt="A portrait screen showing original and translated text.",
  frame={
    desk: "work-device-compositions/Android-Zello--mobile--04"
  },
  screen={
    desk: "work-screens/zello-in-person-translations--02--mobile"
  }
) }}
<div class="content">
  <p>We started exploring in-person translations by modifying existing interfaces. Could we trivially adapt an existing surface to two individuals using it in-person, translating between their spoken languages?</p>
</div>
  