---
date: 2018-10-01T01:00
author: Wil Nichols
altTitle: "iOS 12 Themes"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Zello for iOS 12"
---

<picture class="picture">
  <source
    media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--dark.webp 1x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--dark@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--dark@3x.webp 3x
    "
  />
  <source
    media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--mobile--light@3x.webp 3x
    "
  />
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-ios-theme-2018-01--light@3x.webp 3x
      "
    />

  <img
    src="https://cdn.wilnichols.com/design/zello-ios-theme-2018@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01.webp 1x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-theme-2018-01@3x.webp 3x
    "
    alt="A light and dark theme designed for Zello iOS"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>As iOS matured and a consistent and quality OS appearance emerged, we significantly updated Zello’s appearance with a less opinionated, more maintainable look. At this point Zello lacked a strong visual brand, and we leaned into as “stock” of an appearance on our mobile platforms as we could.</p>
</div>