---
date: 2025-12-01T01:00
author: Wil Nichols
altTitle: "Main Menu"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Main Menu"
---

<picture class="picture">
<source
  media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
  type="image/webp"
  srcset="
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark4.png?format=webp 1x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark4@2x.png?format=webp 2x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark4@3x.png?format=webp 3x
  "
/>
<source
  media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
  type="image/webp"
  srcset="
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light4.png?format=webp 1x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light4@2x.png?format=webp 2x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light4@3x.png?format=webp 3x
  "
/>
  <source
    media="(prefers-color-scheme: dark)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--dark4.png?format=webp 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--dark4@2x.png?format=webp 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--dark4@3x.png?format=webp 3x
    "
  />
  <source
    media="(prefers-color-scheme: light)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--light4.png?format=webp 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--light4@2x.png?format=webp 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--light4@3x.png?format=webp 3x
    "
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-main-menu--light2.png"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--light4.png 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--light4@2x.png 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--light4@3x.png 3x
    "
    alt="Zello iOS's Main Menu"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>I’ve had a few opportunities this year for less-impactful UI improvements in the Zello app. These designs have been floating around since we added the Android main menu much earlier in the year, and I had time at the start of December to complete this in dev.</p>
</div>
  