---
date: 2025-11-01T00:00
author: Wil Nichols
altTitle: "In-Person Translations"
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture>
  <source
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-1.png?format=webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-1@2x.png?format=webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-1@3x.png?format=webp 3x
    "
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-1.png"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-1.png 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-1@2x.png 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-1@3x.png 3x
    "
    alt="Zello iOS's Main Menu"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>The icons used belong to a library that Sam Valdez and I have gradually added to since 2022.</p>
</div>
  