---
date: 2015-10-01T01:00
author: Wil Nichols
altTitle: "iOS 7 Themes"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Zello iOS Themes 2015"
---

<picture class="picture">
  <source
    media="(pointer: coarse) and (width <= 640px)"
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-themes-01-mobile@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-themes-01-mobile@3x.webp 3x
    "
  />
  <source
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-themes-01@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-themes-01@3x.webp 3x
    "
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-ios-themes-01@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-ios-themes-01@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-ios-themes-01@3x.webp 3x
    "
    alt="A light and dark theme designed for Zello iOS"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>Moving on from our administrative console, my earliest mobile work at Zello involved designing dark and light themes for our iOS app.</p>
</div>
  