---
date: 2023-01-01T01:00
author: Wil Nichols
altTitle: "Zello Instant Demo"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Instant Demo"
---

<picture class="picture">
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light@3x.webp 3x
      "
    />

  <img
    src="https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-instant-demo-01--mobile--light@3x.webp 3x
    "
    alt="A mobile screenshot for Zello’s instant demo, in the light theme."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>In our 2023 hackathon, Alex G, Mike Kiurshin, and I partnered to create an alternate online Zello Work sign up which we split test the following Summer. Rather than a signup form and then exposure to our full work platform, this demo was enabled with users with a single click, giving them exposure to a sandbox-like setup.</p>
</div>