---
date: 2025-12-01T01:00
author: Wil Nichols
altTitle: "Main Menu"
tags:
  - "Client/Zello"
  - "Zello/Zello iOS"
  - "Design/Main Menu"
---

<picture class="picture">
<source
  media="(prefers-color-scheme: dark) and (pointer: coarse) and (width <= 640px)"
  type="image/.webp"
  srcset="
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark.webp 1x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark@2x.webp 2x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--dark@3x.webp 3x
  "
/>
<source
  media="(prefers-color-scheme: light) and (pointer: coarse) and (width <= 640px)"
  type="image/.webp"
  srcset="
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light.webp 1x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light@2x.webp 2x,
    https://cdn.wilnichols.com/design/zello-main-menu--mobile--light@3x.webp 3x
  "
/>
  <source
    media="(prefers-color-scheme: dark)"
    type="image/.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--dark.webp 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--dark@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--dark@3x.webp 3x
    "
  />
  <source
    media="(prefers-color-scheme: light)"
    type="image/.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--light@3x.webp 3x
    "
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-main-menu--light.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-main-menu--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-main-menu--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-main-menu--light@3x.webp 3x
    "
    alt="Zello iOS's Main Menu"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>I’ve had a few opportunities this year for less-impactful UI improvements in the Zello app. These designs have been floating around since we added the Android main menu much earlier in the year, and I had time at the start of December to complete this in dev.</p>
</div>
  