---
date: 2025-11-01T01:00
author: Wil Nichols
altTitle: "In-Person Translations"
tags:
  - "Client/Zello"
  - "Zello/Zello Android"
  - "Design/In-Person Translations"
---

<picture class="picture">
  <source
    type="image/webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-2.png?format=webp 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-2@2x.png?format=webp 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-2@3x.png?format=webp 3x
    "
  />
  <img
    src="https://cdn.wilnichols.com/design/zello-in-person-translations-2.png"
    srcset="
      https://cdn.wilnichols.com/design/zello-in-person-translations-2.png 1x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-2@2x.png 2x,
      https://cdn.wilnichols.com/design/zello-in-person-translations-2@3x.png 3x
    "
    alt="Zello iOS's Main Menu"
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>These started as napkin sketches, but I visualized them to help make explain their challenges to the rest of the Zello team. These were "cheaper" ways of integrating the translations feature with existing interfaces.</p>
</div>
