---
date: 2023-05-01T00:00
author: Wil Nichols
altTitle: "Zello Bridge"
inputFilter: Coarse
tags:
  - "Client/Zello"
  - "Zello/Zello Web"
  - "Design/Zello Bridge"
---

<picture class="picture">
    <source
      media="(prefers-color-scheme: dark)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--dark.webp 1x,
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--dark@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--dark@3x.webp 3x
      "
    />
    <source
      media="(prefers-color-scheme: light)"
      type="image/webp"
      srcset="
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light.webp 1x,
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light@2x.webp 2x,
        https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light@3x.webp 3x
      "
    />

  <img
    src="https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light@2x.webp"
    srcset="
      https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light.webp 1x,
      https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light@2x.webp 2x,
      https://cdn.wilnichols.com/design/zello-bridge-02--mobile--light@3x.webp 3x
    "
    alt="A desktop screenshot of Zello Bridge, in the dark theme."
    loading="lazy"
    decoding="async"
  />
</picture>
<div class="content">
  <p>While Zello Bridge on mobile is more useful for monitoring connections, on desktop the user can create new connections, or drag-and-drop configuration files from our legacy PC app.</p>
</div>