---
layout: 'albums.njk'
permalink: '/albums/'
eleventyExcludeFromCollections: true
---
{% js "init" %}
  <script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.js"></script>
  <script>
    const { animate, scroll } = Motion
  </script>
{% endjs %}
