{%- from 'case-study-image.njk' import caseStudyImage -%}
{%- from 'device.njk' import Device -%}
{%- from 'icon-grids.njk' import iOSGrid -%}
{%- from 'img.njk' import img -%}
{%- from 'proportionate-scale.njk' import proportionateScale with context -%}

{% set assetRoot %}https://cdn.wilnichols.com/case-studies/{% endset %}
{% set assetPath %}{{ assetRoot }}five-square-1/{% endset %}

{%- macro FS1Hero() -%}
  {% set screen %}
  {% endset %}
  {% call caseStudyImage(class = 'case-study-hero case-study-hero--five-square-1 case-study-image--2x') %}
    {% call proportionateScale() %}
      {{  Device(
            type = 'iPhone2g',
            contentType = 'video',
            content = assetPath + 'fs.mp4',
            dimensions = [320, 480],
            videoAttrs = 'autoplay loop muted playsinline'
      ) }}
    {% endcall %}
  {% endcall %}
{% endmacro %}

{%- macro FS1Board() -%}
  {% set screens = ['01', '03', '02'] %}
  {% call caseStudyImage(class = 'case-study-image--2x', caption = 'Assets in this case study have been reproduced at 2x and 3x for modern screens.') %}
    {% call proportionateScale() %}
      <div class="devices devices--three-phones">
        {% for screen in screens %}
          {{  Device(
                type = 'iPhone2g',
                content = assetPath + 'screens/' + screen
          ) }}
        {% endfor %}
      </div>
    {% endcall %}
  {% endcall %}
{%- endmacro -%}

{%- macro FS1Selection() -%}
  {% call caseStudyImage(class = 'case-study-image--16x9') %}
    <div class="case-study__icon-iterations">
      {% for asset in range(1, 6) %}
        {{  img(
          src = assetPath + 'misc/cardSelection0' + asset,
          suffix= '?format=webp',
          densities = [1, 2, 3]
        ) }}
      {% endfor %}
    </div>
  {% endcall %}
{%- endmacro -%}

{%- macro FS1Icons() -%}
  {% call caseStudyImage(class = 'case-study-image--2x case-study-image--black', caption = 'Remember when you couldn’t set a wallpaper in iOS? Pepperidge Farm remembers.') %}
    <div class="case-study__icon-iterations">
      {% for asset in range(1, 36) %}
        {% set asset = asset | string %}
        {% if asset | length == 1 %}
          {% set asset = '0' ~ asset %}
        {% endif %}
        {{  img(
          src = assetPath + 'icon_iterations/' + asset,
          suffix= '?format=webp',
          densities = [1, 2, 3],
          class = 'icon icon--57px'
        ) }}
      {% endfor %}
    </div>
  {% endcall %}
{%- endmacro -%}

{%- macro FS1AppIcon() -%}
  {% call caseStudyImage(class = 'case-study-image--2x case-study-image--black') %}
    {{- iOSGrid (
      path = assetRoot + 'five-square-1/icon/',
      version = 'iPhoneOld'
    ) -}}
  {% endcall %}
{%- endmacro -%}