{%- from 'device.njk' import Device -%}
{%- from 'img.njk' import img -%}
{%- from 'icon-grids.njk' import iOSGrid -%}

{% set assetRoot %}https://cdn.wilnichols.com/case-studies/{% endset %}
{% set assetPath %}{{ assetRoot }}five-square-2/screenshots/{% endset %}

{% macro FS2HowToPlay() -%}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-detail-windows proportionate-scale">
    <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
      <div class="proportionate-scale--surrogate">
        {{  Device(
              type = 'iPhone4',
              content = assetPath + '/02'
        ) }}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro FS2Board() -%}
{% set screens = ['08', '07', '06'] %}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-detail-windows proportionate-scale">
    <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
      <div class="proportionate-scale--surrogate">
        <div class="devices devices--three-phones">
          {% for screen in screens %}
            {{  Device(
                  type = 'iPhone4',
                  content = assetPath + screen
            ) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro FS2Settings() -%}
{% set screens = ['04', '03', '02'] %}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-detail-windows proportionate-scale">
    <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
      <div class="proportionate-scale--surrogate">
        <div class="devices devices--three-phones">
          {% for screen in screens %}
            {{  Device(
                  type = 'iPhone4',
                  content = assetPath + screen
            ) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro FS2Icon() -%}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-detail-windows proportionate-scale">
    <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
      <div class="proportionate-scale--surrogate">
        {{- iOSGrid (
          path = assetRoot + 'five-square-2/icon/',
          isOldVersion = true
         ) -}}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro FSVersions() -%}
{% set screens = [
  {
    path: assetRoot + 'five-square-3/screenshots/01',
    type: 'iPhone11Pro',
    color: 'silver'
  },
  {
    path: assetRoot + 'five-square-2/screenshots/01',
    type: 'iPhone4'
  },
  {
    path: assetRoot + 'five-square-1/screenshots/01',
    type: 'iPhone2g'
  }
] %}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-detail-windows proportionate-scale">
    <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
      <div class="proportionate-scale--surrogate">
        <div class="devices devices--iPhone1-and-iPhone4-and-11Pro">
          {% for screen in screens %}
            {{  Device(
                  type = screen.type,
                  color = screen.color | d('black'),
                  content = screen.path
            ) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
