{%- from 'img.njk' import img -%}
{%- from 'icon-grids.njk' import macOSAppIcon -%}

{% macro DiligenceAnnotatedWindow() -%}  
{% set screen %}https://cdn.wilnichols.com/case-studies/diligence/screenshots/menubar--attached{% endset %}

{% set annotations = [
  { text: 'Creates a new task inline at the top of the following list.',
    class: 'new-task' },
  { text: 'Primary affordance to undock from the menubar. Secondarily. drag the toolbar.',
    class: 'undock' },
  { text: 'Search across categories, groups, details.',
    class: 'search' },
  { text: 'Categories. By default, “Incomplete”, and “Complete”. Tap the trailing icon to add a category.',
    class: 'categories'}
] %}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--2x diligence-annotated-window">
    <div class="proportionate-scale--surrogate--container">
      <div class="proportionate-scale--surrogate">
        <div class="annotation-container utils__2x-to-3x">
          {{-  img(
                src = screen,
                class = 'screen'
          ) -}}
          {% for annotation in annotations -%}
            <div class="annotation annotation--{{ annotation.class }}">
              <div class="annotation--trigger" data-content="{{ annotation.text }}"></div>
              <div class="screen-container">
                {{-  img(
                      src = screen
                ) -}}
              </div>
            </div>
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
  <p class="case-study-image__caption">Hover over a highlighted part of the interface to learn more.</p>
</div>
{%- endmacro %}

{%- macro DiligenceDetailWindow() -%}
{% set path = 'https://cdn.wilnichols.com/case-studies/diligence/screenshots/' %}
{% set screens = [
  'detail--inactive', 
  'detail--calendar',
  'detail--inactive--attachments'
] %}
<div class="case-study-image-wrapper">
  <div class="diligence-detail-window case-study-image case-study-image--16x9 case-study-image--2x proportionate-scale">
    <div class="diligence-screen case-study-image__content">
      <div class="proportionate-scale--surrogate--container utils__2x-to-3x">
        <div class="proportionate-scale--surrogate">
          {%- for screen in screens -%}
            {{  img(
                  src = path + screen,
                  class = 'window'
            ) }}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
  <p class="case-study-image__caption">Clicking a task opens a detail view showing further notes, start and end dates, attached files, and more info.</p>
</div>
{%- endmacro -%}c

{%- macro DiligenceAppIcon() -%}
  {{ macOSAppIcon('https://cdn.wilnichols.com/case-studies/diligence/icon/') }}
{%- endmacro -%}

{%- macro DiligencePreferenceIcons() -%}
{% set path = 'https://cdn.wilnichols.com/case-studies/diligence/small-icons/' %}
{% set icons = [
  'settings__general', 
  'settings__categories',
  'settings__appearance'
] %}
<div class="case-study-image-wrapper">
  <div class="case-study-image case-study-image--400x300 case-study-image--icons">
    <div class="case-study__toolbar-icons">
      {%- for icon in icons -%}<div class="case-study-image--icons__icon">{{  img(
          src = path + icon,
          class = 'icon--32px--2x',
          suffix= '?format=webp',
          densities = [2]
        ) }}{{  img(
          src = path + icon,
          class = 'icon--32px',
          suffix= '?format=webp',
          densities = [1]
        ) }}</div>{%- endfor -%}
    </div>
  </div>
  <p class="case-study-image__caption">From left to right: general, categories, and appearance.</p>
</div>
{%- endmacro -%}
