{%- from 'img.njk' import img -%}
{%- from 'icon-grids.njk' import macOSAppIcon -%}
{%- from 'case-study-image.njk' import caseStudyImage -%}

{% macro DiligenceHero() %}  
  {% set commonPath = 'https://cdn.wilnichols.com/case-studies/diligence/' %}
  {% set windows = ['calendar', 'contacts', 'game-center', 'notes', 'reminders'] %}
  {% call caseStudyImage(class = 'case-study-hero case-study-hero--diligence case-study-image--no-padding case-study-image--16x9 case-study-image--2x') %}
    {{  img(
          src = commonPath + 'screenshots/main--independent',
          class = 'window utils__2x-to-3x'
    ) }}
    <div class="diligence-screen diligence-screen--children-transparent">
      {% set windowPath %}{{ commonPath }}osx/{% endset %}
      {% for window in windows %}
          {{  img(
                src = windowPath + window,
                class = 'window screen-window--' + window
          ) }}
      {% endfor %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro DiligenceAnnotatedWindow() %}  
  {% set screen %}https://cdn.wilnichols.com/case-studies/diligence/screenshots/menubar--attached{% endset %}
  {% set annotations = [
    { text: 'Creates a new task inline at the top of the following list.',
      class: 'new-task' },
    { text: 'Primary affordance to undock from the menubar. Secondarily. drag the toolbar.',
      class: 'undock' },
    { text: 'Search across categories, groups, details.',
      class: 'search' },
    { text: 'Categories. By default, “Incomplete”, and “Complete”. Tap the trailing icon to add a category.',
      class: 'categories'}
  ] %}
  {% call caseStudyImage(
    class = 'case-study-image--2x case-study-image--no-padding diligence-annotated-window', caption = 'Hover over a highlighted part of the interface to learn more.') %}
    <div class="annotation-container utils__2x-to-3x">
      {{-  img(
            src = screen,
            class = 'screen'
      ) -}}
      {% for annotation in annotations -%}
        <div class="annotation annotation--{{ annotation.class }}">
          <div class="annotation--trigger" data-content="{{ annotation.text }}"></div>
          <div class="screen-container">
            {{-  img(
                  src = screen
            ) -}}
          </div>
        </div>
      {%- endfor %}
    </div>
  {% endcall %}
{% endmacro %}

{% macro DiligenceDetailWindow() %}
  {% set path = 'https://cdn.wilnichols.com/case-studies/diligence/screenshots/' %}
  {% set screens = [
    'detail--inactive', 
    'detail--calendar',
    'detail--inactive--attachments'
  ] %}
  {% call caseStudyImage(
    class = 'diligence-screen diligence-screen--transparent diligence-detail-window case-study-image--16x9 case-study-image--2x case-study-image--no-padding') %}
      {%- for screen in screens -%}
        {{  img(
              src = path + screen,
              class = 'window utils__2x-to-3x'
        ) }}
    {%- endfor -%}
  {% endcall %}
{% endmacro %}

{% macro DiligenceAppIcon() %}
  {% call caseStudyImage(
    id = 'app-icon',
    class = 'icons-grid--macOS-max-512') %}
    {{ macOSAppIcon('https://cdn.wilnichols.com/case-studies/diligence/icon/') }}
  {% endcall %}
{% endmacro %}

{% macro DiligencePreferenceIcons() %}
  {% set path = 'https://cdn.wilnichols.com/case-studies/diligence/small-icons/' %}
  {% set icons = [
    'settings__general', 
    'settings__categories',
    'settings__appearance'
  ] %}
  {% call caseStudyImage(
    class = 'case-study-image--400x300 case-study-image--icons',
    caption = 'From left to right: general, categories, and appearance.') %}
    <div class="case-study__toolbar-icons">
      {% for icon in icons %}
        <div class="case-study-image--icons__icon">
          {{  img(
            src = path + icon,
            class = 'icon--32px--2x',
            suffix= '?format=webp',
            densities = [2]
          ) }}
          {{  img(
            src = path + icon,
            class = 'icon--32px',
            suffix= '?format=webp',
            densities = [1]
          ) }}
        </div>
      {% endfor %}
    </div>
  {% endcall %}
{% endmacro %}
