{# Markup workShot cannot express, kept verbatim from the design post.
   SVG paths are relative to _includes, where this file now lives. #}
{# Desktop #}
<div class="picture">
  {% include "unique/zello-main-menu-icons.svg" %}
  {% include "unique/zello-main-menu-icons--mobile.svg" %}
</div>
